@function --grid-row-base(--gap-one: 5rem, --gap-two: 10rem) {
  result: [header] min-content [gap] var(--gap-one) [main] 1fr [gap]
    var(--gap-two) [footer] min-content;
}

@function --grid(--columns-number <integer>) {
  result: [full-start] auto [center-start]
    repeat(
      var(--columns-number),
      [gutter-start] var(--gutter-columns) var(--gutter-columns) [gutter-end
        content-start] clamp(2rem, round(5.5vw, 2rem), 8rem) [content-end]
    )
    [gutter-start] var(--gutter-columns) var(--gutter-columns) [center-end
    gutter-end] auto [full-end];
}

@function --responsive(--mobile, --tablet, --desktop) {
  result: var(--mobile);

  @media screen and (width >= 768px) {
    result: var(--tablet);
  }

  @media screen and (width >= 1024px) {
    result: var(--desktop);
  }
}

@function --mobile-to-desktop(--mobile, --desktop) {
  result: var(--mobile);

  @media screen and (width >= 1024px) {
    result: var(--desktop);
  }
}
