/**
 * Breakpoints:
 * - xs: 480px
 * - sm: 640px
 * - md: 768px
 * - lg: 1024px
 * - xl: 1480px
 */

@function --xs-sm-up(--xs, --sm) {
  result: var(--xs);

  @media screen and (width >= 480px) {
    result: var(--sm);
  }
}

@function --xs-md-up(--xs, --md) {
  result: var(--xs);

  @media screen and (width >= 768px) {
    result: var(--md);
  }
}

@function --xs-lg-up(--xs, --lg) {
  result: var(--xs);

  @media screen and (width >= 1024px) {
    result: var(--lg);
  }
}

@function --xs-xl-up(--xs, --xl) {
  result: var(--xs);

  @media screen and (width >= 1480px) {
    result: var(--xl);
  }
}

@function --xs-md-lg-up(--mobile, --tablet, --desktop) {
  result: var(--mobile);

  @media screen and (width >= 768px) {
    result: var(--tablet);
  }

  @media screen and (width >= 1024px) {
    result: var(--desktop);
  }
}

@function --xs-sm-md-lg-xl-up(--xs, --sm, --md, --lg, --xl) {
  result: var(--xs);

  @media screen and (width >= 480px) {
    result: var(--sm);
  }

  @media screen and (width >= 768px) {
    result: var(--md);
  }

  @media screen and (width >= 1024px) {
    result: var(--lg);
  }

  @media screen and (width >= 1480px) {
    result: var(--xl);
  }
}
