app-shell {
  --grid-offset: centre;  

  background-color: var(--site-background);
  background-image: paint(grid);
  display: grid;
  grid-template-columns: --responsive(--grid-mobile(), --grid(10), --grid(12));
    gap: --responsive(1rem, 0, 0);
  grid-template-rows: --grid-row-base(5rem, 10rem);
  min-height: 100dvh;



  header {
    grid-column: full-start / full-end;
    grid-row: header;

    @media (width < 1024px) {
      grid-column: 1 / -1;
      grid-row: 1;
      position: static;
    }
  }
}
