grid-auto {
  --begin: attr(start type(<integer> | <custom-ident>), 4);
  --end: attr(end type(<integer> | <custom-ident>), -4);
  --min-content: attr(min-content rem, 20rem);
  --gap: --responsive(
      attr(row-sm rem, 1rem),
      attr(row-md rem, 5rem),
      attr(row-lg rem, 8rem)
    )
    --responsive(
      attr(col-sm rem, 1rem),
      attr(col-md rem, 5rem),
      attr(col-lg rem, 7rem)
    );

  display: grid;
  gap: var(--gap);
  grid-column: var(--begin) / var(--end);
  grid-template-columns: repeat(auto-fit, minmax(var(--min-content), 1fr));
  grid-row: attr(row type(<integer> | <custom-ident>), auto);
}

grid-auto-fill {
  display: grid;
  row-gap: attr(gap-row rem, 1rem);
  column-gap: attr(gap-column rem, 1rem);
  grid-column: attr(begin type(<integer> | <custom-ident>), 28) /
    attr(end type(<integer> | <custom-ident>), -4);
  grid-row: attr(row type(<integer> | <custom-ident>), auto);
  grid-template-columns: repeat(auto-fill, 1rem);
}

grid-auto-fill-item {
  align-content: attr(align type(<custom-ident>), normal);
  justify-content: attr(justify type(<custom-ident>), normal);
  display: grid;
  gap: attr(gap rem, auto);
  grid-column: span attr(span type(<integer> | <custom-ident>), auto);
}
