grid-auto {
  --begin: attr(start type(<integer> | <custom-ident>), 2);
  --end: attr(end type(<integer> | <custom-ident>), -2);
  --min-content: attr(min-content rem, 20rem);
  --gap: --responsive(
      attr(row-sm rem, 1rem),
      attr(row-md rem, 5rem),
      attr(row-lg rem, 8rem)
    )
    --responsive(
      attr(col-sm rem, 1rem),
      attr(col-md rem, 5rem),
      attr(col-lg rem, 5rem)
    );

  display: grid;
  gap: var(--gap);
  grid-column: var(--begin) / var(--end);
  grid-template-columns: repeat(auto-fit, minmax(var(--min-content), 1fr));
}
