.sticky {
  position: sticky;
  top: var(--site-header-height);
  height: max-content;
}

surface-item {
  --end: attr(end type(<integer> | <custom-ident>), -1);
  --start: attr(start type(<integer> | <custom-ident>), 1);

  align-content: attr(align type(<custom-ident>), space-between);
  display: grid;
  grid-column: var(--start) / var(--end);
  /* background: --background(line); */
  background-color: var(--light-100);
  background-image: paint(grid), var(--grain-uri);
  padding: var(--spacing-lg);
  view-transition-name: attr(id type(<custom-ident>), none);
  grid-area: attr(area type(<custom-ident>), initial);
}
