/* prettier-ignore */
@function --get-scheme(--variant <custom-ident>) returns <color> {
    result: if(
      style(--variant: dark): var(--dark-scheme);
      style(--variant: light): var(--light-scheme);
      
      else: transparent
    )
  }

/* prettier-ignore */
@function --get-padding-size(--size-attr <custom-ident>) returns <length> {
    result: if(
      style(--size-attr: large): 3rem;
      style(--size-attr: medium): 2rem;
      style(--size-attr: small): 1rem;
      
      else: 0rem /* Default padding */
    )
  }

.sticky {
  position: sticky;
  top: var(--site-header-height);
  height: max-content;
}

nav {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
}

surface-item {
  --dark-scheme: var(--secondary-400);
  --light-scheme: --transparent(var(--light-100), 0.4);

  --start: attr(start type(<integer> | <custom-ident>), 1);
  --end: attr(end type(<integer> | <custom-ident>), -1);

  align-content: space-between;
  background-color: --get-scheme(attr(variant type(<custom-ident>), light));
  display: grid;
  grid-column: var(--start) / var(--end);
  grid-row: attr(row type(<integer>));
  grid-template-columns: auto;
  padding: --get-padding-size(attr(size type(<custom-ident>), 1rem));
  view-transition-name: attr(id type(<custom-ident>), none);
}
