<dialog id="feature-detect-popover">
  <template id="feature-item">
    <details name="features" class="feature-item">
      <summary>
        <span class="summary-text"></span><span class="summary-icon"></span>
      </summary>
      <div></div>
    </details>
  </template>
  <article class="hero-content">
    <h1 class="heading">Browser not supported</h1>
    <p class="subheading" id="subheading">
      This project is a demonstration of experimental web platform features.
    </p>
    <a href="chrome://flags">chrome://flags</a>
    <div class="feature-list"></div>
  </article>
</dialog>
