<feature-detect-popover id="feature-detect-popover" popover="manual">
  <style>
    {{"feature-detect-popover" | componentCss | importCss | safe}}
  </style>
  <article class="hero-content">
    <h1 class="heading">Browser not supported</h1>
    <p class="subheading">
      This project is a demonstration of experimental web platform features.
    </p>

    <a href="chrome://flags">chrome://flags</a>
  </article>
</feature-detect-popover>
