@scope {
  & {
    display: grid;
    grid-column: 25 / -2;
    padding-block: var(--spacing-base);
  }

  .menu-bar {
    display: flex;
    gap: var(--spacing-base);
  }

  .menu-item {
    display: flex;
    height: var(--spacing-lg);
  }

  .menu-item-social {
    margin-inline: auto 0;
    width: 4rem;
  }

  .menu-item-link-social {
    align-items: center;
    display: flex;
    padding-inline: var(--spacing-base);
    transition: background-color 0.4s ease-in-out;

    &:hover {
      background-color: var(--secondary-900);
    }
  }

  .menu-item-link {
    --background-colour: var(--secondary-800);
    --colour: var(--light-100);

    background-color: var(--background-colour);
    color: var(--colour);
    font-size: var(--font-scaled-sm);
    padding: var(--spacing-base);
    place-content: center;
    text-align: center;
    width: clamp(5rem, 6rem, 8rem);

    &[data-active] {
      --background-colour: var(--secondary-900);
      --colour: var(--primary-200);
    }

    &:hover {
      --background-color: var(--secondary-900);
      --color: var(--light-100);
    }
  }
}
