:host {
  color: var(--colour-light);
  display: flex;
}

::slotted(a) {
  text-align: center;
  padding: var(--padding);
  background-color: var(--colour-dark);
  text-decoration: none;
  color: var(--colour-light);
  background-color: var(--colour-dark);
}

::slotted(a:hover) {
  color: var(--colour-primary);
}
