:host {
  background-color: var(--colour-dark);
  color: var(--colour-light);
  padding: var(--padding);
  grid-column: content;
  grid-row: span 1;
  text-align: center;
}

::slotted(a) {
  text-decoration: none;
  color: var(--colour-dark);
}

::slotted(a:hover) {
  color: var(--colour-primary);
}
