<site-header id="header" class="header" role="banner" aria-label="Site header">
    <style>
        {{ "/templates/partials/header.css" | importCss | safe }}
    </style>
    <nav class="nav" aria-label="Primary navigation">
        <ul
            role="menubar"
            class="menubar"
            aria-orientation="horizontal"
            aria-label="Main">
            <li class="menuitem" role="menuitem" aria-current="page"> <a href="/" class="{% if currentPage === 'index' %}active{% endif %}">Home</a></li>
            <li class="menuitem" role="menuitem"><a href="/about" class="{% if currentPage === 'about' %}active{% endif %}">About</a></li>
            <li class="menuitem" role="menuitem"><a href="/contact" class="{% if currentPage === 'contact' %}active{% endif %}">Contact</a></li>
        </ul>
    </nav>
</site-header>