:host {
  background-color: oklab(from var(--colour-dark) 0.9 a b);
  color: var(--colour-light);
  display: grid;
  grid-column: full;
  grid-row: header;
  grid-template-columns: subgrid;
  position: sticky;
  top: 0;
  view-transition-name: attr(id type(<custom-ident>), none);
}

::slotted(.nav) {
  display: grid;
  grid-column: content;
  padding: 0;
}
