{% extends "base-hero.njk" %}

{% block hero %}
  <h1 variant="xxl" top="4" bottom="2" id="heading-primary">About</h1>
  <p variant="lg" id="subheading" top="4">A collection of the latest in CSS and Web Components</p>
{% endblock %}

{% block page_content %}
  <surface-item variant="light" size="large" start="4"
    end="23" aria-label="About page content">
    {% include "partials/body-markup-renderer.njk" %}
  </surface-item>
  <surface-item class="sticky" variant="light" size="large" start="25" end="-8" opacity="1">
    <layout-item row-gap="1" role="navigation">
      {% for item in bodyMarkupData %}
        {% if item
          .tag
          .startsWith('h') %}
          <a href="#{{ item.id }}" class="link-simple">
            <span>{{ item.content }}</span></a>
        {% endif %}
      {% endfor %}
    </layout-item>
  </surface-item>
{% endblock %}