{% extends "base-hero.njk" %}

{# Note this is being used in page content maybe remove later #}
{% import "components/heading/heading.njk" as heading %}
{# Note this is being used in page content maybe remove later #}

{% block hero_left %}
  <h1 class="heading" id="heading-primary">About page</h1>
  <p class="subheading" id="subheading">A demonstration of the latest in CSS and Web Components</p>
{% endblock %}

{% block hero_right %}
  <article class="hero-content">
    <p>Stuff</p>
  </article>
{% endblock %}

{% block page_content %}
  <div id="page-wrapper" class="page-wrapper">
    <style>
      {{"page-wrapper" | componentCss | importCss | safe}}
    </style>
    {% include "components/page-nav/page-nav.njk" %}
    {% include "components/page-content/page-content.njk" %}
  </div>
{% endblock %}