{% extends "base.njk" %}

{% block content %}
    {% include "components/site-hero/site-hero.njk" %}
    <section>
        <h2>About Us</h2>
        <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, nunc nec</p>
    </section>
    <section>
        <h2>Our Team</h2>
        <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, nunc nec</p>
    </section>
    <section>
        <h2>Our Mission</h2>
        <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, nunc nec</p>
    </section>
{% endblock %}