{% extends "base.njk" %}

{% block content %}
    <layout-item start="2" end="27" row="1">
        <surface-item id="hero" variant="light" size="large" role="banner">
            {% block hero %}{% endblock %}
        </surface-item>
    </layout-item>
    {% block page_content %}{% endblock %}
{% endblock %}