{% extends "base.njk" %}

{% block content %}
    <layout-item start="2" end="27" row="1">
        <div id="hero" class="surface" variant="light" size="large" role="banner">
            {% block hero %}{% endblock %}
        </div>
    </layout-item>
    {% block page_content %}{% endblock %}
{% endblock %}