<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    <app-shell
      aria-label="application"
      id="app-shell"
      role="application"
    >
      <header 
        aria-label="Site header"
        class="header" 
        id="header" 
        role="banner" 
      >
        <layout-item 
          end="5"
          start="4"
          variant="column"
          row="full"
        >
          <a 
            aria-label="Home"
            class="logo-link" 
            href="{{ BASE_URL }}" 
          >
            {% include "partials/icons/logo.njk" %}
          </a>
        </layout-item>
        <grid-auto
          aria-label="Primary navigation"  
          aria-orientation="horizontal"
          col-lg="1"
          col-md="1"
          col-sm="1"
          end="-2"
          min-content="6"
          role="menubar"
          row-lg="1"
          row-md="1"
          row-sm="1"
          row="2"
          start="25"
        >
          {% for item in navigationData.menuItems %}
            {% include "partials/menu-item.njk" %}
          {% endfor %}
        </grid-auto>
      </header>

      <layout-item 
        aria-label="Main content" 
        end="-1"
        id="main" 
        role="main" 
        row-gap="5" 
        row="main" 
        start="1" 
      >
        {% block content %}{% endblock %}
      </layout-item>

      {% include "partials/site-footer.njk" %}
    </app-shell>
    {% include "partials/feature-detect-popover/feature-detect-popover.njk" %}
  </body>
</html>