<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    <app-shell
      aria-label="application"
      id="app-shell"
      role="application"
    >
      <header id="header" class="header" role="banner" aria-label="Site header">
        <a href="{{ BASE_URL }}" class="logo-link" aria-label="Home">
          {% include "partials/icons/logo.njk" %}
        </a>
        <layout-item 
          class="menu-bar"
          end="-2"
          role="menubar"
          row="2"
          start="25"
          aria-label="Primary navigation"  
          aria-orientation="horizontal"
          role="navigation" 
        >
          {% for item in navigationData.menuItems %}
            {% include "partials/menu-item.njk" %}
          {% endfor %}
        </layout-item>
      </header>

      <layout-item id="main" role="main" aria-label="Main content" row="main" row-gap="5" start="1" end="-1">
        {% block content %}{% endblock %}
      </layout-item>

      {% include "partials/site-footer/site-footer.njk" %}
    </app-shell>
    {% include "partials/feature-detect-popover/feature-detect-popover.njk" %}
  </body>
</html>