<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    <app-shell
      id="app-shell"
      class="application"
      role="application"
      aria-label="application"
    >
      {% include "partials/header/header.njk" %}
      <main-content id="main" role="main" aria-label="Main content">
        {% block content %}{% endblock %}
      </main-content>

      {% include "partials/site-footer/site-footer.njk" %}
    </app-shell>
    {% include "partials/feature-detect-popover/feature-detect-popover.njk" %}
  </body>
</html>