{% extends "base-hero.njk" %}

{% block hero %}
  <content-with-sidebar role="banner">
    <content-main>
      <h1 variant="lg" top="2" bottom="1" id="heading-primary">Contact us</h1>
      <p variant="base" id="subheading" top="2">Have a question, suggestion, or just want to say hello? Fill out the form below and we'll get back to you as soon as possible.</p>
    </content-main>
    <content-sidebar>
      <a href="/" class="link-button-jumbo" aria-label="Publication" brand="linkedin">
        <span>LinkedIn</span>
        <icon-element icon="linkedin"></icon-element>
      </a>
      <a href="/" class="link-button-jumbo" aria-label="Publication" brand="github">
        <span>GitHub</span>
        <icon-element icon="github"></icon-element>
      </a>
    </content-sidebar>
  </content-with-sidebar>
{% endblock %}

{% block page_content %}
  <content-with-sidebar role="banner">
    <content-main>
      <form action="/api/contact" class="form-contact" method="POST">
        <label for="name">
          <span>Name</span>
        </label>
        <input 
          autocomplete="true"
          id="name"
          maxlength="50"
          minlength="2"
          name="name"
          placeholder="Your name"
          required
          type="text"
/>

        <label for="email">
          <span>Email</span>
        </label>
        <input 
          autocomplete="true"
          id="email"
          maxlength="50"
          minlength="2"
          name="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          placeholder="Your email address"
          required
          title="Please enter a valid email address"
          type="email"
/>

        <label for="message">
          <span>Message</span>
        </label>
        <textarea 
          cols="30"
          id="message"
          minlength="2"
          name="message"
          placeholder="Get typing"
          required
          rows="10"
        ></textarea>

        <button type="submit"><span>Send</span><icon-element icon="send" width="1.2"></icon-element></button>
      </form>
    </content-main>

  </content-with-sidebar>
{% endblock %}