{% extends "base-hero.njk" %}

{% block hero %}
  <h1 
    bottom="2"
    id="heading-primary"
    top="2"
    variant="xl"
  >Contact</h1>
  <p 
    bottom="2"
    id="subheading"
    top="3"
    variant="md"
  >Get in contact.</p>
{% endblock %}

{% block page_content %}
  <surface-item 
    end="-26"
    size="large"
    start="4"
    variant="light"
  >
    <form 
      action="/api/contact"
      method="POST"
    >
      <label for="name">
        <span>Name</span>
      </label>
      <input 
        autocomplete="true"
        id="name"
        maxlength="50"
        minlength="2"
        name="name"
        placeholder="Your name"
        required
        type="text"
/>

      <label for="email">
        <span>Email</span>
      </label>
      <input 
        autocomplete="true"
        id="email"
        maxlength="50"
        minlength="2"
        name="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        placeholder="Your email address"
        required
        title="Please enter a valid email address"
        type="email"
      >

      <label for="message">
        <span>Message</span>
      </label>
      <textarea 
        cols="30"
        id="message"
        minlength="2"
        name="message"
        placeholder="Get typing"
        required
        rows="10"
      ></textarea>

      <button type="submit">Send</button>
    </form>
  </surface-item>
{% endblock %}