{% extends "base-hero.njk" %}

{% block hero %}
  <h1 variant="xl" top="2" bottom="2" id="heading-primary">Contact</h1>
  <p variant="md" top="3" bottom="2" id="subheading">Get in contact.</p>
{% endblock %}

{% block page_content %}
  <surface-item 
    end="-14" 
    start="4" 
    variant="light"
    size="large"
  >
    <form action="/api/contact" method="POST">
      <label for="name">Name</label>
      <input autocomplete="true" type="text" id="name" name="name" required placeholder="Your name" minlength="2" maxlength="50"/>

      <label for="email">Email</label>
      <input autocomplete="true" type="email" id="email" name="email" required placeholder="Your email address"></input>

      <label for="message">Message</label>
      <textarea name="message" id="message" cols="30" rows="10" placeholder="Get typing" required></textarea>

      <button type="submit">Send</button>
    </form>
  </surface-item>
{% endblock %}