{% extends "base-hero.njk" %}
{% from "partials/code/code-block.njk" import codeBlock %}

{% block hero %}
    <surface-item start="4" end="28" row="1" id="hero" variant="light" size="large" role="banner">
        <h1 
        bottom="2" 
        id="heading-primary"
        top="2" 
        variant="lg" 
    >{{ currentFeature.title }}</h1>
        <p 
        variant="md" 
        id="subheading" 
        top="3"
    >{{ currentFeature.description }}</p>
    </surface-item>
{% endblock %}

{% block page_content %}
    <layout-item 
        start="29" 
        end="-4"
        id="navigation-bar"
        row="1"
        >
        <nav class="navigation-bar" id="navigation-bar">
            {% if navigation.previous %}
                <a id="previous" variant="button" href="/features/{{ navigation.previous.slug }}">
                    <i>&larr;</i>
                    <b>{{ navigation.previous.name }}</b>
                </a>
            {% endif %}

            {% if navigation.next %}
                <a id="next" variant="button" href="/features/{{ navigation.next.slug }}">
                    <b>{{ navigation.next.name }}</b>
                    <i>&rarr;</i>
                </a>
            {% endif %}
            {% for link in currentFeature.links %}
                <a 
                class="link-feature"
                justify="left"
                href="{{ link.link }}"
            >
                    <span>{{ link.label }}</span></a>
            {% endfor %}
        </nav>
    </layout-item>

    <surface-item 
        aria-label="{{ currentFeature.title }}"
        id="{{ currentFeature.slug }}"
        size="large" 
        variant="light"
        end="-14"
        start="4"
        >

        {% for item in currentFeature.bodyMarkupData %}
            {% if item.tag == "h2" %}
                <h2 variant="lg" top="2" bottom="3" id="{{ item.id }}">{{ item.content }}</h2>

            {% elif item.tag == "h3" %}
                <h3 variant="lg" top="4" bottom="3" id="{{ item.id }}">{{ item.content }}</h3>

            {% elif item.tag == "p" %}
                <p top="1" bottom="2">{{ item.content }}</p>

            {% elif item.tag == "ul" %}
                <ul>
                    {% for listItem in item.items %}
                        <li>{{ listItem }}</li>
                    {% endfor %}
                </ul>

            {% elif item.tag == "codeblock" %}
                {{ codeBlock(item.language, item.code) }}

            {% else %}
                <{{ item.tag }} {% if item.id %}id="{{ item.id }}"{% endif %}>
                    {{ item.content }}
                </{{ item.tag }}>
            {% endif %}
        {% endfor %}
        <a 
            class="link-feature" 
            href="/features">
            <span>Back to Features</span></a>

    </surface-item>
    {# <surface-item   
        align="start"
        align-self="start"
        aria-label="{{ currentFeature.title }}"
        id="links"
        end="36"
        size="medium" 
        start="23" 
        variant="light" 
    >
        {% for link in currentFeature.links %}
            <a 
                class="link-feature"
                justify="left"
                href="{{ link.link }}"
            >
                <span>{{ link.label }}</span></a>
        {% endfor %}
    </surface-item> #}

{% endblock %}