{% extends "base-hero.njk" %}
{% from "partials/code/code-block.njk" import codeBlock %}

{% block hero %}
    <section class="hero-section" id="hero-section">
        <layout-item start="1" end="40" row="1" id="hero" variant="light" size="large" role="banner">
            <h1 
        bottom="1" 
        id="heading-primary"
        top="1" 
        variant="lg" 
    >{{ currentFeature.title }}</h1>
            <p 
                    variant="md" 
                    id="subheading-{{ loop.index }}" 
                    top="3">
                {% for desc in currentFeature.description %}
                    {{ desc | codeBackticks | safe }}
                {% endfor %}
            </p>
        </layout-item>
        <layout-item 
        start="42" 
        end="-1"
        id="navigation-bar"
        row="1"
        >
            <nav class="navigation-bar" id="navigation-bar">
                {% if navigation.previous %}
                    <a class="link-button-large" id="previous" href="/features/{{ navigation.previous.slug }}">
                        <span>
                            {% include "partials/icons/previous.njk" %}
                        </span>
                        <span>{{ navigation.previous.name }}</span>
                    </a>
                {% endif %}

                {% if navigation.next %}
                    <a class="link-button-large" id="next" variant="button" href="/features/{{ navigation.next.slug }}">
                        <span>{{ navigation.next.name }}</span>
                        <span>
                            {% include "partials/icons/previous.njk" %}
                        </span>

                    </a>
                {% endif %}
            </nav>
        </layout-item>
        {# <aside class="links-social">
            <a href="/" class="links-social-item" aria-label="Publication" data-brand="linkedin">
                <span>LinkedIn</span>
                {% include "partials/icons/linkedin.njk" %}
            </a>
            <a href="/" class="links-social-item" aria-label="Publication" data-brand="github">
                <span>GitHub</span>
                {% include "partials/icons/github.njk" %}
            </a>
        </aside> #}
    </section>

{% endblock %}

{% block page_content %}

    <div class="page" id={{ currentFeature.slug }}>
        <section
        class="left"
        >

            {% for item in currentFeature.bodyMarkupData %}
                {% if item.tag == "h2" %}
                    <h2 variant="lg" top="1" bottom="3" id="{{ item.id }}">{{ item.content }}</h2>

                {% elif item.tag == "h3" %}
                    <h3 variant="lg" top="4" bottom="3" id="{{ item.id }}">{{ item.content }}</h3>

                {% elif item.tag == "p" %}
                    <p top="1" bottom="2">{{ item.content | codeBackticks | safe }}</p>

                {% elif item.tag == "ul" %}
                    <ul>
                        {% for listItem in item.items %}
                            <li>{{ listItem | codeBackticks | safe }}</li>
                        {% endfor %}
                    </ul>

                {% elif item.tag == "codeblock" %}
                    {{ codeBlock(item.language, item.code) }}

                {% else %}
                    <{{ item.tag }} {% if item.id %}id="{{ item.id }}"{% endif %}>
                        {{ item.content }}
                    </{{ item.tag }}>
                {% endif %}
            {% endfor %}
            <a 
            class="link-feature" 
            href="/features">
                <span>Back to Features</span></a>
        </section>
        <aside class="right">
            <h4 variant="md" top="1" bottom="1">Links</h4>
            {% for link in currentFeature.links %}
                <a 
                    class="link-simple"
                    justify="left"
                    href="{{ link.link }}"
                >
                    <span>{{ link.label }}</span></a>
            {% endfor %}
        </aside>

    </div>
{% endblock %}