{% extends "base-hero.njk" %}

{% block hero %}
  <h1 class="heading" id="heading-primary">Features</h1>
  <p class="subheading" id="subheading">A demonstation of the latest in CSS and Web Components</p>
{% endblock %}

{% block page_content %}
  {% for feature in features %}
    {# {{ feature.layout | dump }} #}
    {% include "components/grid-item/grid-item.njk" %}
  {% endfor %}
{% endblock %}