{% extends "base-hero.njk" %}
{% from "partials/code/code-block.njk" import codeBlock %}

{% block hero %}
    <content-with-sidebar role="banner">
        <content-main>
            <h1 
        bottom="1" 
        id="heading-primary"
        top="1" 
        variant="lg" 
    >{{ currentFeature.title }}</h1>
            <p 
                    variant="base" 
                    id="subheading-{{ loop.index }}" 
                    top="2">
                {% for desc in currentFeature.description %}
                    {{ desc | codeBackticks | safe }}
                {% endfor %}
            </p>
        </content-main>
        <content-sidebar>

            {% if navigation.previous %}
                <a class="link-button-jumbo" id="previous" href="/features/{{ navigation.previous.slug }}">
                    <span>{{ navigation.previous.name }}</span>
                    <span>
                        {% include "partials/icons/previous.njk" %}
                    </span>
                </a>
            {% endif %}

            {% if navigation.next %}
                <a class="link-button-jumbo" id="next" variant="button" href="/features/{{ navigation.next.slug }}">
                    <span>{{ navigation.next.name }}</span>
                    <span>
                        {% include "partials/icons/previous.njk" %}
                    </span>

                </a>
            {% endif %}

        </content-sidebar>
    </content-with-sidebar>

{% endblock %}

{% block page_content %}

    <content-with-sidebar role="banner" id="{{ currentFeature.slug }}">
        <content-main>

            {% for item in currentFeature.bodyMarkupData %}
                {% if item.tag == "h2" %}
                    <h2 variant="lg" top="1" bottom="3" id="{{ item.id }}">{{ item.content }}</h2>

                {% elif item.tag == "h3" %}
                    <h3 variant="lg" top="4" bottom="3" id="{{ item.id }}">{{ item.content }}</h3>

                {% elif item.tag == "p" %}
                    <p top="1" bottom="2">{{ item.content | codeBackticks | safe }}</p>

                {% elif item.tag == "ul" %}
                    <ul>
                        {% for listItem in item.items %}
                            <li>{{ listItem | codeBackticks | safe }}</li>
                        {% endfor %}
                    </ul>

                {% elif item.tag == "codeblock" %}
                    {{ codeBlock(item.language, item.code) }}

                {% else %}
                    <{{ item.tag }} {% if item.id %}id="{{ item.id }}"{% endif %}>
                        {{ item.content }}
                    </{{ item.tag }}>
                {% endif %}
            {% endfor %}
            <a 
            class="link-feature" 
            href="/features">
                <span>Back to Features</span></a>
        </content-main>
        <content-sidebar>
            <h4 variant="md" top="1" bottom="1">Links</h4>
            {% for link in currentFeature.links %}
                <a 
                    class="link-simple"
                    justify="left"
                    href="{{ link.link }}"
                >
                    <span>{{ link.label }}</span></a>
            {% endfor %}
        </content-sidebar>
    </content-with-sidebar>
{% endblock %}