{% extends "base-hero.njk" %}
{% import "partials/feature-card.njk" as featureComponents %}

{% block hero %}
  <hero-home id="hero" role="banner">
    <h1 variant="xxl" top="4" bottom="2" id="heading-primary">Web Platform Features Showcase</h1>
    <p  variant="lg" id="subheading" top="2">A collection of modern web features using <a class="jump-link" href="#section-css">CSS</a>, <a class="jump-link" href="#section-cssom">Houdini Paint API</a>, and Web Platform APIs. Examples include layout techniques, custom paint worklets, and <a class="jump-link" href="#section-bapi">browser APIs</a> working together.</p>
  </hero-home>
{% endblock %}

{% block page_content %}
  <section class="wrapper-index-section" id="about-page-section">

    <div class="wrapper-index-header">
      <a href="#section-css" variant="button" size="small">
        <h2 variant="base" id="section-css" >CSS Features</h2>
      </a>
    </div>

    {% for feature in features.cssFeatures %}
      {{ featureComponents.featureCard(feature, loop.index0) }}
    {% endfor %}

  </section>
  <section class="wrapper-index-section" id="about-page-section-2">

    <div class="wrapper-index-header">
      <a href="#section-cssom" variant="button" size="small">
        <h2 variant="base" id="section-cssom" >CSSOM</h2>
      </a>
    </div>

    {% for feature in features.cssomFeatures %}
      {{ featureComponents.featureCard(feature, loop.index0) }}
    {% endfor %}

  </section>
  <section class="wrapper-index-section" id="about-page-section-3">

    <div class="wrapper-index-header">
      <a href="#section-bapi" variant="button" size="small">
        <h2 variant="base" id="section-bapi">Browser APIs</h2>
      </a>
    </div>

    {% for feature in features.browserApiFeatures %}
      {{ featureComponents.featureCard(feature, loop.index0) }}
    {% endfor %}

  </section>
{% endblock %}