{% extends "base-hero.njk" %}

{% block hero_left %}
  <h1 class="heading" id="heading-primary">Web Platform Features Showcase</h1>
  {# <p class="subheading" id="subheading">CSS & Web Components Examples</p> #}
  <p class="text">A collection of modern web features using <a class="jump-link" href="#section-css">CSS</a>, <a class="jump-link" href="#section-cssom">Houdini Paint API</a>, and Web Platform APIs. Examples include layout techniques, custom paint worklets, and <a class="jump-link" href="#section-bapi">browser APIs</a> working together.</p>
{% endblock %}

{% block hero_right %}
  <aside id="points" class="points">
    <a class="points-item" href="#section-css">
      <span class="points-text">CSS Features</span>
    </a>
    <a class="points-item" href="#section-cssom">
      <span class="points-text">CSS Object Model</span>
    </a>
    <a class="points-item" href="#section-bapi">
      <span class="points-text">Browser API</span>
    </a>
  </aside>
{% endblock %}

{% block page_content %}
  <div id="page-wrapper" class="page-wrapper">
    <style>
      {{"page-wrapper" | componentCss | importCss | safe}}
    </style>
    <div id="section-css" class="section-title"  grid-columns="40" grid-rows-start="1" grid-rows-end="1">
      <style>
        {{"section-title" | componentCss | importCss | safe}}
      </style>
      <div class="section-title">
        <h2 class="heading" id="heading-secondary-1">CSS Features</h2>
      </div>
    </div>
    {% for feature in features.cssFeatures %}
      {% include "components/grid-item/grid-item.njk" %}
    {% endfor %}
    <div id="section-cssom" class="section-title" grid-columns="40" grid-rows-start="4" grid-rows-end="4">
      <style>
        {{"section-title" | componentCss | importCss | safe}}
      </style>
      <div class="section-title">
        <h2 class="heading" id="heading-secondary-2">CSSOM</h2>
      </div>
    </div>
    {% for feature in features.cssomFeatures %}
      {% include "components/grid-item/grid-item.njk" %}
    {% endfor %}
    <div id="section-bapi" class="section-title" grid-columns="40" grid-rows-start="6" grid-rows-end="6">
      <style>
        {{"section-title" | componentCss | importCss | safe}}
      </style>
      <div class="section-title">
        <h2 class="heading" id="heading-secondary-3">Browser API</h2>
      </div>
    </div>
    {% for feature in features.browserApiFeatures %}
      {% include "components/grid-item/grid-item.njk" %}
    {% endfor %}
  </div>
{% endblock %}