{% extends "base-hero.njk" %}

{% block hero %}
    <h1 variant="xxl" top="4" bottom="2" id="heading-primary">Thank You!</h1>
    <p variant="lg" id="subheading" top="1">Your message has been sent successfully</p>
    <a class="link-feature" href="/contact" class="button">Back to Contact</a>
{% endblock %}