{% extends "base-hero.njk" %}

{% block hero_left %}
    <h1 class="heading" id="heading-primary">Thank You</h1>
    <p class="subheading" id="subheading">Your message has been sent successfully</p>
    <a href="/contact" class="button">Back to Contact</a>
{% endblock %}