{% for item in bodyMarkupData %}
    {% if item.tag == "h2" %}
        <h2 variant="lg" top="2" bottom="3" id="{{ item.id }}">{{ item.content }}</h2>

    {% elif item.tag == "h3" %}
        <h3 variant="lg" top="4" bottom="3" id="{{ item.id }}">{{ item.content }}</h3>

    {% elif item.tag == "p" %}
        <p top="1" bottom="2">{{ item.content | codeBackticks | safe }}</p>

    {% elif item.tag == "ul" %}
        <ul>
            {% for listItem in item.items %}
                <li>{{ listItem | codeBackticks | safe }}</li>
            {% endfor %}
        </ul>

    {% else %}
        <{{ item.tag }} {% if item.id %}id="{{ item.id }}"{% endif %}>
            {{ item.content }}
        </{{ item.tag }}>
    {% endif %}
{% endfor %}