{% macro featureCard(feature, index) %}
  <card-element 
    aria-label="{{ feature.title }}"
    end="auto"
    id="{{ feature.slug }}"
    role="region"
    start="auto"
    {% if index is defined %}area="card-{{ index + 1 }}"{% endif %}
    >

      <h3 variant="md" top="1" bottom="0">{{ feature.title }}</h3>
      <p variant="base" top="1" bottom="0">{{ feature.blurb }}</p>

    <a class="link-feature" href="/features/{{ feature.slug }}">
      <span>Read more</span>
    </a>
  </card-element>
{% endmacro %}