<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }} - Deno Web Components</title>
<link rel="stylesheet" href="/styles/main.css" />
<meta
  name="description"
  content="{{ description | default('A Deno Web Components project') }}"
/>
<link
  rel="icon"
  type="image/png"
  href="/images/favicon/favicon-96x96.png"
  sizes="96x96"
/>
<link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
<link rel="shortcut icon" href="/images/favicon/favicon.ico" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/images/favicon/apple-touch-icon.png"
/>

<script defer type="module" src="./scripts/main.js"></script>
<script defer type="module" src="./scripts/live-reload.js"></script>

<link rel="preload" href="/styles/main.css" as="style" />
<link rel="modulepreload" href="./scripts/main.js" />

<script type="speculationrules">
  {
    "prerender": [
      {
        "urls": ["/", "/about", "/contact"]
      }
    ]
  }
</script>
