<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }} - Deno Web Components</title>
<link rel="stylesheet" href="/styles/main.css" />
<script defer type="module" src="./scripts/main.js"></script>
{% if env === 'development' %}
<script src="/scripts/live-reload.js"></script>
{% endif %}

<script type="speculationrules">
  {
    "prerender": [
      {
        "urls": ["/", "/about", "/contact"]
      }
    ]
  }
</script>
