<header-nav-item 
  {{ item.key | isActive(currentPage) }}
  variant="{{ 'compact' if item.isExternal else 'normal' }}"
    {% if item.isExternal %}
      width="narrow" 
    {% endif %}
  >
  <a 
  class="menu-item-link"
  role="menuitem" 
  variant="{{ 'compact' if item.isExternal else 'normal' }}"
  href="{{ item.href }}"
  aria-label="{{ item.name }}"
  {% if item.isExternal %}
    target="_blank"
    rel="noopener"
  {% endif %}
  >
    {% if item.isExternal %}
      <span hidden>{{ item.name }}</span>
      <icon-github-inversed aria-hidden="true"></icon-github-inversed>
    {% else %}
      <span>{{ item.name }}</span>

    {% endif %}
  </a>
</header-nav-item>