<footer id="footer" role="contentinfo" aria-label="Site footer" variant="dark">
  <grid-auto-fill>
    <grid-auto-fill-item>
      <a href="/" class="logo-link" aria-label="Home">
        {% include "partials/icons/logo.njk" %}
      </a>
    </grid-auto-fill-item>
    {% for section in siteData.site.footer.sections %}
      <grid-auto-fill-item>
        <h4 variant="md" top="1" bottom="1">{{ section.title }}</h4>
        {% for link in section.links %}
          <a class="footer-link" href="{{ link.url }}">{{ link.text }}</a>
        {% endfor %}
      </grid-auto-fill-item>
    {% endfor %}
  </grid-auto-fill>

  <layout-item start="4" end="-4" variant="column">
    <small>&copy; 2025 Built with Deno Powered by <a href="https://deno.com/deploy">Deno Deploy</a>
    </small>
  </layout-item>
</footer>