<footer 
  aria-label="Site footer" 
  id="footer" 
  role="contentinfo" 
  variant="dark"
>
    <contain-items>
        <div class="footer-logo">
      <a 
        href="/" 
        class="logo-link" 
        aria-label="Home"
      >
        {% include "partials/logo/logo.njk" %}
      </a>
    </div>
    {% for section in siteData.site.footer.sections %}
      <div class="footer-section">
        <h4 
          bottom="1"
          top="1" 
          variant="md" 
        >{{ section.title }}</h4>
        {% for link in section.links %}
          <a 
            class="footer-link" 
            href="{{ link.url }}"
          >{{ link.text }}</a>
        {% endfor %}
      </div>
    {% endfor %}
  <layout-item 
    end="-3" 
    start="3" 
    variant="column"
  >
    <p 
      bottom="1"
      top="1"
      variant="sm"
      align="center"
    >
      {{ siteData.site.footer.copyright }}
      All rights reserved.
      Built with Deno Powered by <a href="https://deno.com/deploy">Deno Deploy</a>
    </p>
  </layout-item>
  </contain-items>
</footer>