<script type="speculationrules">
  {
    "prerender": [
      {
        "urls": [
          "/",
          "/about",
          "/contact",
          "/features",
          "/features/css-anchor-position-1",
          "/features/css-mixins",
          "/features/css-paint-api",
          "/features/css-properties-values-api",
          "/features/css-typed-om",
          "/features/css-values-5",
          "/features/custom-elements",
          "/features/css-view-transitions-2",
          "/features/popover-api"
        ]
      }
    ]
  }
</script>