<layout-item
            end="30"
            start="13"
            >
    <article variant="light" size="large" class="surface">
        {% for item in bodyMarkupData %}
            {{ heading.render(item.tag, item.content, item.id) }}
        {% endfor %}
    </article>
</layout-item>