<figure class="logo" role="img" aria-label="GotPop Logo">
  <style>
    {{"logo" | componentCss | importCss | safe}}
  </style>
  <div class="circles">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <span class="logo-text">GotPop</span>
</figure>