@scope {
  & {
    display: flex;
    align-items: center;

    --main-circle-size: 3rem;
    --main-circle-radius: calc(var(--main-circle-size) / 2);
    --small-circle-size: calc(var(--main-circle-size) / 2);
    --small-circle-radius: calc(var(--small-circle-size) / 2);
    --orbit-radius: calc(
      var(--main-circle-radius) - var(--small-circle-radius)
    );
    --main-circle-color:   --transparent(var(--color-secondary), 0.5);;
    --small-circle-color: orange;
  }

  .text {
    font-size: 1.rem;
    color: var(--light-600);
    text-align: center;
    font-family: var(--font-family-heading);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  .outer {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
  }

  .circles {
    position: relative;
    height: var(--main-circle-size);
    width: var(--main-circle-size);
    /* margin: 2rem; */
  }

  .circle-main {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-circle-color);
    border-radius: 50%;
    top: 0;
    left: 0;
  }

  .circle-small {
    --hue: calc(sibling-index() * 50);
    --angle: calc((sibling-index() - 1) * 60deg);

    position: absolute;
    width: var(--small-circle-size);
    height: var(--small-circle-size);
    border-radius: 50%;
    transform-origin: center;
    /* border: 1px solid var(--primary-100); */
    background-color: --transparent(oklch(70% 70% var(--hue)), 0.5);
    /* mix-blend-mode: color-dodge; */
    
    top: calc(
      50% - var(--small-circle-radius) - var(--orbit-radius) * sin(var(--angle))
    );
    left: calc(
      50% - var(--small-circle-radius) + var(--orbit-radius) * cos(var(--angle))
    );
}
