<div class="logo">
  <style>
    {{"logo" | componentCss | importCss | safe}}
  </style>
  <div class="outer">
    <div class="wrapper">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
    <div class="text">GotPop</div>
  </div>
</div>