<figure class="logo" role="img" aria-label="GotPop Logo">
  <style>
    {{"logo" | componentCss | importCss | safe}}
  </style>
  <div class="outer">
    <div class="circles">
      <div class="circle circle-main"></div>
      <div class="circle circle-small"></div>
      <div class="circle circle-small"></div>
      <div class="circle circle-small"></div>
      <div class="circle circle-small"></div>
      <div class="circle circle-small"></div>
      <div class="circle circle-small"></div>
    </div>
    <span class="logo-text">GotPop</span>
  </div>
</figure>