@scope {
  & {
    background-color: var(--colour-dark-1);
    color: var(--colour-light-1);
    grid-column: content-start / span 9;
    padding: calc(var(--padding) * 2);
    height: max-content;
    position: sticky;
    top: var(--site-header-height);

    nav {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: var(--padding);

      a {
        color: var(--colour-light-1);
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: var(--colour-light-2);
        }
      }
    }
  }
}
