@function --bg-gradient() {
  result: linear-gradient(
    to bottom right,
    var(--light-100),
    var(--light-200),
    var(--light-200),
    var(--light-200),
    var(--light-300)
  );
}

@function --bg-diagonal(
  --angle: 45deg,
  --color: --opacity(var(--dark-600), 0.5)
) {
  result: repeating-linear-gradient(
    var(--angle),
    transparent,
    transparent 10px,
    var(--color) 10px,
    var(--color) 11px
  );
}

@function --bg-diagonal-surface(
  --angle: 45deg,
  --color: --opacity(var(--dark-600), 0.5)
) {
  result: repeating-linear-gradient(
      var(--angle),
      transparent,
      transparent 10px,
      var(--color) 10px,
      var(--color) 11px
    )
    1rem 1rem / 1rem 1rem;
}
