.gradient-grainy {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: color;
  z-index: -1;
  /* display: none; */
  pointer-events: none;
  opacity: 0.2;

  g {
    filter: url(#grain);
  }

  rect,
  ellipse,
  circle {
    transform-box: fill-box;
    transform-origin: 50%;
  }

  ellipse,
  circle {
    cx: 50%;
    cy: 50%;
    filter: blur(calc(4vmin + 4vmax));
    mix-blend-mode: hard-light;
  }
}
