{% extends "base-hero.njk" %}

{% block hero_left %}
    <h1 class="heading" id="heading-primary">{{ currentFeature.title }}</h1>
{% endblock %}

{% block page_content %}
    <div id="page-wrapper" class="page-wrapper">
        <style>
            {{"page-wrapper" | componentCss | importCss | safe}}
        </style>
        <section class="feature-content">
            <p>{{ currentFeature.description }}</p>
            <a href="/features">Back to Features</a>
        </section>
        <aside class="feature-nav">
            <h2>Feature links</h2>
            <ul>
                {% for link in currentFeature.links %}
                    <li>
                        <a href="{{ link.link }}" class="link-{{ link.type }}">{{ link.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
    </div>
{% endblock %}