{% extends "base-hero.njk" %}

{% block hero_left %}
    <h1 class="heading">{{ currentFeature.title }}</h1>
    <p class="subheading">{{ currentFeature.description }}</p>
{% endblock %}

{% block hero_right %}
    <article class="hero-content">
        <p>Stuff</p>
    </article>
{% endblock %}

{% block page_content %}
    <div class="page-wrapper">
        <style>
            {{"page-wrapper" | componentCss | importCss | safe}}
        </style>
        <h1>{{ currentFeature.title }}</h1>
        <p>{{ currentFeature.description }}</p>
        <a href="/features">Back to Features</a>
    </div>
{% endblock %}