{% extends "base-hero.njk" %}

{% block hero %}
    <h1 class="heading" id="heading-primary">{{ currentFeature.title }}</h1>
{% endblock %}

{% block page_content %}
    <div id="page-wrapper" class="page-wrapper">
        <style>
            {{"page-wrapper" | componentCss | importCss | safe}}
        </style>
        <layout-item
            aria-label="{{ currentFeature.title }}"
            class="layout-item"
            type="{{ currentFeature.type }}"
            id="{{ currentFeature.slug }}"
            end="15"
            start="4"
            role="region"
            row="1"
            >
            <style>
                {{"layout-item" | componentCss | importCss | safe}}
            </style>
            <article variant="light" size="large" class="surface">
                <p>{{ currentFeature.description }}</p>
                <a href="/features">Back to Features</a>
            </article>
        </layout-item>

        <aside class="feature-nav">
            <h2>Feature links</h2>
            <ul>
                {% for link in currentFeature.links %}
                    <li>
                        <a href="{{ link.link }}" class="link-{{ link.type }}">{{ link.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
    </div>
{% endblock %}