header {
  background-color: var(--secondary-700);
  background-image: paint(grid);
  display: grid;
  grid-area: header / full;
  grid-template-columns: --mobile-to-desktop(
    1fr,
    subgrid [] [logo-start] [logo-end] [nav-start] [] [] [] [nav-end] []
  );
  grid-template-rows: --mobile-to-desktop(
    1fr,
    [full-height-start] 0rem min-content 0rem [full-height-end]
  );
  row-gap: 1rem;
  height: --mobile-to-desktop(var(--round-up), auto);
  position: sticky;
  top: 0;
  view-transition-name: header;
  z-index: 1;
}
