header {
  background-color: var(--secondary-700);
  background-image: paint(grid);
  container-type: scroll-state;
  display: grid;
  grid-column: full;
  grid-row: header;
  grid-template-columns: --mobile-to-desktop(1fr, subgrid);
  grid-template-rows: --mobile-to-desktop(1fr, 1rem min-content 1rem);
  height: --mobile-to-desktop(var(--round-up), auto);
  min-width: 100vw;
  position: sticky;
  top: 0;
  view-transition-name: auto;
  z-index: 1;
}




