<app-shell
  id="app-shell"
  class="application"
  role="application"
  aria-label="application"
>
  <style>
    {{ "app-shell" | componentCss | importCss | safe }}
  </style>
  {% block shell %}{% endblock %}
</app-shell>

