{% macro appShell(id="app-shell", class="application", role="application", ariaLabel="Site container") %}
<app-shell
  id="{{ id }}"
  class="{{ class }}"
  role="{{ role }}"
  aria-label="{{ ariaLabel }}"
>
 <style>
        {{ "app-shell" | componentCss | importCss | safe }}
    </style>
  {{ caller() }}
</app-shell>
{% endmacro %}
