:host {
  display: grid;
  row-gap: 1rem;
  grid-template-rows:
    [header] min-content
    [main] 1fr
    [footer] min-content;
  grid-template-columns:
    [full-start margin-start] minmax(1rem, 1fr)
    [margin-end content-start] repeat(
    12,
    [col-start] minmax(
      auto,
      calc(var(--site-max-width) / var(--columns-number))
    ) [col-end]
  )
    [content-end margin-start] minmax(1rem, 1fr)
    [margin-end full-end];
  min-height: 100dvh;
  background-color: var(--colour-light);
}
