<site-footer id="footer" role="contentinfo" aria-label="Site footer">
  <style>
    {{"site-footer" | componentCss | importCss | safe}}
  </style>
    <div class="footer-links">
      <section>
        <h3>CSS</h3>
        <ul>
          <li><a href="https://www.w3.org/Style/CSS/">W3C CSS</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">MDN CSS</a></li>
          <li><a href="https://www.w3.org/TR/css-cascade-5/">CSS Cascade</a></li>
        </ul>
      </section>

      <section>
        <h3>JavaScript</h3>
        <ul>
          <li><a href="https://tc39.es/">TC39</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">MDN JavaScript</a></li>
          <li><a href="https://www.ecma-international.org/">ECMA International</a></li>
        </ul>
      </section>

      <section>
        <h3>HTML</h3>
        <ul>
          <li><a href="https://html.spec.whatwg.org/">HTML Living Standard</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">MDN HTML</a></li>
          <li><a href="https://www.w3.org/TR/html/">W3C HTML</a></li>
        </ul>
      </section>

      <section>
        <h3>Web Standards</h3>
        <ul>
          <li><a href="https://www.w3.org/">W3C</a></li>
          <li><a href="https://whatwg.org/">WHATWG</a></li>
          <li><a href="https://www.webstandards.org/">Web Standards Project</a></li>
        </ul>
      </section>
    </div>
    <div class="footer-content">
      <small>&copy; 2025 Built with Deno Powered by <a href="https://deno.com/deploy">Deno Deploy</a></small>
    </div>
</site-footer>