@scope {
  & {
    background-color: var(--colour-dark-1);
    color: var(--colour-light-1);
    grid-column: full;
    grid-row: footer;
    min-height: 20rem;
    display: grid;
    grid-template-columns: subgrid;
    padding-block: var(--spacing-xl);

    .footer-content {
      grid-column: 4 / -4;
      padding-block: var(--padding);
      text-align: center;
    }

    .footer-links {
      grid-column: 4 / -4;
      display: grid;
      grid-template-columns: subgrid;
    }

    .footer-section {
      grid-column: attr(column-start type(<integer>)) /
        attr(column-end type(<integer>));
      font-size: var(--font-scaled-sm);

      ul {
        display: grid;
        gap: var(--spacing-sm);
        margin-block: unset;
        padding-inline-start: var(--spacing-sm);
      }

      h3 {
        margin-block-end: var(--spacing-md);
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
