<site-footer id="footer" role="contentinfo" aria-label="Site footer">
  <style>
    {{"site-footer" | componentCss | importCss | safe}}
  </style>
  <div class="footer-links">
    <div class="footer-section" column-start="1" column-end="4">
      <h4 class="footer-title" hidden>Deno Web Components</h4>
      <a href="/" class="logo-link" aria-label="Home">
        {% include "partials/icons/logo.njk" %}
      </a>
    </div>
    {% for section in site.footer.sections %}
      <section class="footer-section" column-start="{{ section.layout['column-start'] }}" column-end="{{ section.layout['column-end'] }}">
        <h4 class="footer-title">{{ section.title }}</h4>
        <ul>
          {% for link in section.links %}
            <li>
              <a href="{{ link.url }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </div>
  <div class="footer-content">
    <small>&copy; 2025 Built with Deno Powered by <a href="https://deno.com/deploy">Deno Deploy</a>
    </small>
  </div>
</site-footer>