@scope {
  & {
    background-color: var(--secondary-900);
    color: var(--colour-light-1);
    display: grid;
    grid-column: full;
    grid-row: footer;
    grid-template-columns: subgrid;
    min-height: 20rem;
    padding-block: var(--spacing-xl);
    view-transition-name: attr(id type(<custom-ident>), none);
  }

  .logo-link {
    display: inline flex;
  }

  .footer-sections {
    align-items: start;
    display: grid;
    grid-column: 2 / -2;
    grid-template-columns: subgrid;
  }

  .footer-section {
    grid-column: attr(column-start type(<integer>)) /
      attr(column-end type(<integer>));
    font-size: var(--font-scaled-sm);
    margin-block-end: 2rem;
  }

  .footer-list {
    margin-block: unset;
    padding-inline-start: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .footer-list-item {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 1rem;

    &::before {
      --marker-size: 1rem;

      background-color: yellow;
      content: "";
      display: block;
      height: var(--marker-size);
      inset: -9px auto auto -1rem;
      margin-block-start: calc(1rem - 1cap);
      margin-inline-start: -1rem;
      position: absolute;
      width: var(--marker-size);
    }
  }

  .footer-link {
    color: white;
    font-size: var(--font-scaled-sm);
    /* padding-block-start: calc(1rem - 1cap); */
    text-box-edge: cap alphabetic;
    text-box-trim: trim-both;
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.4em;
    text-wrap: balance;
  }

  .footer-title {
    color: white;
    font-size: var(--font-scaled-md);
    font-weight: 400;
    margin-block-end: 1rem;
    text-wrap: balance;
  }

  .footer-content {
    grid-column: 4 / -4;
    padding-block: var(--padding);
    text-align: center;

    & small {
      display: block inline;
      padding-block-start: calc(2rem - 1cap);
      text-box-edge: cap alphabetic;
      text-box-trim: trim-both;
      color: rgba(255, 255, 255, 0.8);
      font-size: var(--font-scaled-sm);
      font-weight: 300;
    }
  }
}
