{% set footerLinks = [
  {
    title: "CSS",
    links: [
      { text: "W3C CSS", url: "https://www.w3.org/Style/CSS/" },
      { text: "MDN CSS", url: "https://developer.mozilla.org/en-US/docs/Web/CSS" },
      { text: "CSS Cascade", url: "https://www.w3.org/TR/css-cascade-5/" }
    ]
  },
  {
    title: "JavaScript",
    links: [
      { text: "TC39", url: "https://tc39.es/" },
      { text: "MDN JavaScript", url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript" },
      { text: "ECMA International", url: "https://www.ecma-international.org/" }
    ]
  },
  {
    title: "HTML",
    links: [
      { text: "HTML Living Standard", url: "https://html.spec.whatwg.org/" },
      { text: "MDN HTML", url: "https://developer.mozilla.org/en-US/docs/Web/HTML" },
      { text: "W3C HTML", url: "https://www.w3.org/TR/html/" }
    ]
  },
  {
    title: "Web Standards",
    links: [
      { text: "W3C", url: "https://www.w3.org/" },
      { text: "WHATWG", url: "https://whatwg.org/" },
      { text: "Web Standards Project", url: "https://www.webstandards.org/" }
    ]
  }
] %}

<site-footer id="footer" role="contentinfo" aria-label="Site footer">
  <style>
    {{"site-footer" | componentCss | importCss | safe}}
  </style>
    <div class="footer-links">
      {% for section in footerLinks %}
        <section>
          <h3>{{ section.title }}</h3>
          <ul>
            {% for link in section.links %}
              <li><a href="{{ link.url }}">{{ link.text }}</a></li>
            {% endfor %}
          </ul>
        </section>
      {% endfor %}
    </div>
    <div class="footer-content">
      <small>&copy; 2025 Built with Deno Powered by <a href="https://deno.com/deploy">Deno Deploy</a></small>
    </div>
</site-footer>