<nav class="nav" aria-label="Primary navigation">
  <style>
    {{"nav" | componentCss | importCss | safe}}
  </style>
  <ul
      aria-label="Main"
      aria-orientation="horizontal"
      class="menu-bar"
      role="menubar"
      >
    {% for item in navigationData.menuItems %}
      {% include "partials/nav/menu-item.njk" %}
    {% endfor %}
  </ul>
</nav>