@scope {
  & {
    /* background-color: hotpink; */
    /* grid-column: full-start / -30; */
    grid-column: span attr(grid-columns type(<integer>));
    grid-row: attr(grid-rows-start type(<integer>)) /
      attr(grid-rows-end type(<integer>));
    /* text-align: right; */
    padding-block: 1rem;
    /* grid-row: 1 / 2; */
    display: grid;
    grid-template-columns: subgrid;
    background-color: rgba(255 255, 255, 0.2);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    display: none;

    .section-title {
      grid-column: content-start / span 19;
    }

    .heading {
      /* font-size: 3rem; */
      /* font-weight: 400; */
      font-size: var(--font-scaled-lg);
      view-transition-name: attr(id type(<custom-ident>), none);
      /* text-shadow: 0px -1px 0 rgba(255, 255, 255, 1); */
      color: var(--colour-light-1);
    }
  }
}
