<div class="section-title" id="{{ sectionTitle.id }}" grid-columns="40" grid-row="{{ sectionTitle.gridRow }}">
  <style>
    {{"section-title" | componentCss | importCss | safe}}
  </style>
  <div class="section-title">
    <a class="section-title-link" href="#{{ sectionTitle.id }}">
      <h2 class="heading" id="{{ sectionTitle.headingId }}">{{ sectionTitle.title }}</h2>
    </a>
  </div>
</div>