@scope {
  & {
    grid-column: full;
    grid-row: attr(grid-rows-start type(<integer>)) /
      attr(grid-rows-end type(<integer>));
    display: grid;
    grid-template-columns: subgrid;

    &:target {
      background-color: limegreen;
    }
  }

  .section-title {
    grid-column: center-start / -4;
    height: 3rem;
    padding-inline-start: 1rem;
    background-color: rgba(255, 0, 0, 0.3);
    clip-path: --tetris-shape-i(3rem);
  }

  .heading {
    font-size: var(--font-scaled-md);
    view-transition-name: attr(id type(<custom-ident>), none);
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
  }
}
