@scope {
  & {
    --grid-column: attr(data-start-column type(<integer>)) /
      attr(data-end-column type(<integer>));

    background-color: rgba(0, 0, 0, 0.5);
    color: var(--colour-light-1);
    display: grid;
    grid-column: span attr(data-columns type(<integer>));
    grid-row: attr(row-start type(<integer>)) / attr(row-end type(<integer>));
    grid-template-columns: subgrid;
    grid-template-rows: 6rem 1fr 6rem;
    view-transition-name: attr(id type(<custom-ident>), none);

    &[data-card-type="css"] {
      /* background-color: var(--colour-dark-5); */
    }

    &[data-card-type="cssom"] {
      /* background-color: red; */
    }

    &[data-card-type="bapi"] {
      /* background-color: yellow; */
    }

    p {
      text-wrap: balance;
    }

    a {
      color: var(--colour-light-1);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 1lh;
      text-decoration-color: currentColor;
    }

    .feature {
      /* background-color: yellow; */
      grid-column: var(--grid-column);
      grid-row: 2;

      h3 {
        font-size: var(--font-scaled-lg);
        font-weight: 400;
        margin-block-end: var(--spacing-md);
      }

      &:has(:hover) {
        background-color: gray;
        color: var(--colour-light-1);
      }
    }
  }
}
