<grid-item
  aria-label="{{ feature.title }}"
  class="feature-card"
  column-end="{{ feature.layout['column-end'] }}"
  column-start="{{ feature.layout['column-start'] }}"
  data-card-type="{{ feature.type }}"
  data-columns="{{ feature.layout.columns }}"
  data-end-column="{{ feature.layout['feature-end'] }}"
  data-rows="{{ feature.layout.rows }}"
  data-start-column="{{ feature.layout['feature-start'] }}"
  id="{{ feature.slug }}"
  role="region"
  row-end="{{ feature.layout['row-end'] }}"
  row-start="{{ feature.layout['row-start'] }}"
  >
  <style>
    {{"grid-item" | componentCss | importCss | safe}}
  </style>
  <article class="feature-content">
    <h3 class="feature-title">{{ feature.title }}</h3>
    <p class="feature-body">{{ feature.description }}</p>
    {# <a href="/features/{{ feature.slug }}">Read more</a> #}
  </article>
</grid-item>