@scope {
  & {
    --before-position: -1 / -1;
    --grid-column: attr(content-start type(<integer>)) /
      attr(content-end type(<integer>));

    color: var(--colour-light-1);
    display: grid;
    grid-column: attr(item-start type(<integer>)) /
      attr(item-end type(<integer>));
    grid-row: attr(row-position type(<integer>));
    grid-template-columns: subgrid;
    grid-template-rows: 1fr;
    view-transition-name: attr(id type(<custom-ident>), none);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    position: relative;

    &::before {
      background-color: rgba(255, 255, 255, 0.5);
      clip-path: --tetris-shape-t(3rem);
      content: "";
      display: block;
      grid-column: var(--before-position);
      height: 6rem;
      inset: 1.5rem -0.5rem auto auto;
      pointer-events: none;
      position: absolute;
      rotate: 90deg;
      width: 9rem;
      z-index: -1;
    }

    &:nth-child(3n of .feature-card)::before {
      --before-position: -3 / -3;
    }

    .feature-content {
      grid-column: var(--grid-column);
    }

    .feature-title {
      color: rgba(0, 0, 0, 0.8);
      font-size: var(--font-scaled-lg);
      font-weight: 400;
      margin-block-end: var(--spacing-md);
      position: relative;
    }

    .feature-body {
      color: rgba(0, 0, 0, 0.8);
      text-wrap: balance;
    }

    .feature-link {
      color: var(--colour-light-1);
      text-decoration-color: currentColor;
      text-decoration-thickness: 2px;
      text-decoration: underline;
      text-underline-offset: 1lh;
    }
  }
}
