@scope {
  & {
    --grid-column: attr(data-start-column type(<integer>)) /
      attr(data-end-column type(<integer>));

    /* background-color: rgba(0, 0, 0, 0.5); */
    color: var(--colour-light-1);
    display: grid;
    grid-column: attr(column-start type(<integer>)) /
      attr(column-end type(<integer>));
    grid-row: attr(row-start type(<integer>)) / attr(row-end type(<integer>));
    grid-template-columns: subgrid;
    grid-template-rows: 6rem 1fr 6rem;
    view-transition-name: attr(id type(<custom-ident>), none);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    /* background-image: paint(bytemare); */

    &:has(:hover) {
      background-color: rgba(0, 0, 0, 0.4);
      color: var(--colour-light-1);
      z-index: 99999;
      position: relative;
      /* background-image: paint(bytemare); */
    }

    &[data-card-type="css"] {
      /* background-color: var(--colour-dark-5); */
    }

    &[data-card-type="cssom"] {
      /* background-color: red; */
    }

    &[data-card-type="bapi"] {
      /* background-color: yellow; */
    }

    p {
      text-wrap: balance;
    }

    a {
      color: var(--colour-light-1);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 1lh;
      text-decoration-color: currentColor;
    }

    .feature {
      /* background-color: yellow; */
      grid-column: var(--grid-column);
      grid-row: 2;
      /* background-image: paint(squares2); */
      /* background-color: grey; */

      h3 {
        font-size: var(--font-scaled-lg);
        font-weight: 400;
        margin-block-end: var(--spacing-md);
        position: relative;

        &::before {
          content: "";
          display: block;
          font-size: var(--font-scaled-md);
          font-weight: 400;
          margin-block-end: var(--spacing-md);
          /* background-image: paint(squares2); */

          --square-position-x: 100px;
          --square-position-y: 100px;
          background-image: paint(squares2, 64px, rgba(255, 0, 0, 0.6), 2, 1);

          position: absolute;
          width: 200%;
          height: 300%;
          inset: calc(-3rem + 1px) 0 0 -4rem;
          z-index: -1;
        }
      }
    }
  }
}
