:root {
  accent-color: var(--accent);
}

:focus-visible {
  outline-color: var(--accent);
}

:target {
  /* border-bottom: 1rem solid var(--white); */
  box-sizing: content-box;
}

::selection {
  background-color: var(--accent);
  color: var(--light-200);
}

::marker {
  color: var(--accent);
}

::-webkit-calendar-picker-indicator,
::-webkit-clear-button,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  color: var(--accent);
}

html {
  background-image: var(--site-background);
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--body-colour);
  font-family: var(--font-family-base);
  margin: unset;
  overflow: hidden auto;
}

nav.button-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  a {
    padding: calc(1rem - calc(1cap / 2)) 2rem;
    width: calc-size(max-content, round(size, 1rem));
    text-align: center;

    span {
      padding: 0;
    }
  }
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 0rem;
  gap: 1rem;
  /* width: calc-size(max-content, round(up, size, 1rem)); */
  grid-column: 10 / -1;
  view-transition-name: attr(id type(<custom-ident>), none);
  max-height: 5rem;

  :has(.navigation-bar) & {
    /* background-color: --transparent(var(--white), 0.4); */

    & + form {
      /* grid-column: 17 / -1; */
      display: flex;
    }
  }

  a {
    padding-inline: 1rem !important;
    padding: 1rem;
    text-align: left;
    justify-content: center;
    /* display: grid !important; */
    gap: 1rem;
    view-transition-name: attr(id type(<custom-ident>), none);
    transition: width 0.3s ease-in-out;
  }
}
.navigation-bar-features {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  padding: 0rem;
  gap: 1rem;
  /* width: calc-size(max-content, round(up, size, 1rem)); */
  grid-column: 10 / -1;
  view-transition-name: attr(id type(<custom-ident>), none);
  max-height: 5rem;

  :has(.navigation-bar) & {
    /* background-color: --transparent(var(--white), 0.4); */

    & + form {
      /* grid-column: 17 / -1; */
      display: flex;
    }
  }

  a {
    padding-inline: 1rem !important;
    padding: 1rem;
    text-align: left;
    justify-content: center;
    /* display: grid !important; */
    height: 2rem;
    gap: 1rem;
    view-transition-name: attr(id type(<custom-ident>), none);
  }
}

.hero-section {
  grid-column: 4 / -4;
  display: grid;
  grid-template-columns: subgrid;
  padding: 2rem;
  background-color: --transparent(var(--white), 0.4);
  align-items: start;
}

.aside-links {
  display: flex;
  flex-direction: column;
  grid-template-columns: subgrid;
  grid-column: 10 / -1;
  padding: 2rem;
  gap: 1rem;
  margin-top: 2rem;
  background-color: --transparent(var(--white), 0.4);
}

.feature-content {
  view-transition-name: feature-content;
}
