:root {
  accent-color: var(--accent);
}

:focus-visible {
  outline-color: var(--accent);
}

:target {
  /* border-bottom: 1rem solid var(--white); */
  box-sizing: content-box;
}

::selection {
  background-color: var(--accent);
  color: var(--light-200);
}

::marker {
  color: var(--accent);
}

::-webkit-calendar-picker-indicator,
::-webkit-clear-button,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  color: var(--accent);
}

html {
  background-image: var(--site-background);
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--body-colour);
  font-family: var(--font-family-base);
  margin: unset;
  overflow: hidden auto;
}

.navigation-bar {
  align-items: start;
  background-color: --transparent(var(--white), 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 10 / -1;
  height: calc-size(min-content, round(up, size, 1rem));
  padding: 0rem;
  padding: 2rem;
  view-transition-name: attr(id type(<custom-ident>), none);
  background-image: paint(grid);
  --grid-offset: 0;

  .link-button-large {
    align-content: center;
    align-items: center;
    background-color: green;
    color: var(--light-100, #ffffff);
    display: flex;
    font-weight: 600;
    gap: 1rem;
    height: calc-size(min-content, round(up, size, 1rem));
    justify-content: space-between;
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    width: 100%;

    &#next svg {
      rotate: 180deg;
    }

    svg {
      width: 3rem;
    }

    b {
      display: inline-flex;
    }

    span {
      display: flex;
    }
  }
}

.navigation-bar-features {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  justify-self: end;
  padding: 0rem;
  gap: 1rem;
  grid-column: 10 / -1;
  view-transition-name: attr(id type(<custom-ident>), none);

  :has(.navigation-bar) & {
    & + form {
      display: flex;
    }
  }

  a {
    gap: 1rem;
    height: 2rem;
    justify-content: center;
    padding-inline: 1rem !important;
    padding: 1rem;
    text-align: left;
    view-transition-name: attr(id type(<custom-ident>), none);
  }
}

.hero-section {
  align-items: start;
  background-color: --transparent(var(--white), 0.4);
  display: grid;
  grid-column: 4 / -4;
  grid-template-columns: repeat(auto-fill, 1rem);
  padding: 3rem;
}

.hero-section-features {
  align-items: start;
  background-color: --transparent(var(--white), 0.4);
  display: grid;
  grid-column: 4 / -4;
  grid-template-columns: repeat(auto-fill, 1rem);
  padding: 3rem;
}

.aside-links {
  background-color: --transparent(var(--white), 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 20 / -1;
  grid-template-columns: subgrid;
  margin-top: 2rem;
  padding: 2rem;
}

/* Inline code styling */
:where(p, li) > code {
  background-color: var(--light-200, #f4f4f4);
  border-radius: 0.25rem;
  color: var(--accent, #007acc);
  font-family: "Monaspace", "Courier New", monospace;
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.2em 0.4em;
}

.page {
  background-color: --transparent(var(--white), 0.4);
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(auto-fill, 1rem);
  grid-template-rows: auto;
  padding: 3rem;
  row-gap: 3rem;
  view-transition-name: attr(id type(<custom-ident>), none);

  min-width: 100vw;

  @media (width > 1024px) {
    min-width: auto;
    grid-column: 4 / -4;
  }
}

.left {
  align-items: start;
  display: flex;
  flex-direction: column;
  grid-column: 1 / 50;

  &[data-page="contact"] {
    grid-column: 1 / 40;
  }
}

.right {
  align-items: start;
  background-color: --transparent(var(--white), 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 52 / -1;
  max-height: calc-size(max-content, round(up, size, 1rem));
  padding: 2rem;
  background-image: paint(grid);
  --grid-offset: 0;
  /* --grid-base-color: rgb(190, 187, 187); */

  &[data-page="contact"] {
    grid-column: 42 / -1;
  }
}

.hero-about {
  align-items: start;
  background-color: --transparent(var(--white), 0.4);
  display: grid;
  grid-template-columns: repeat(auto-fill, 1rem);
  padding: 3rem;
  grid-column: 1 / -1;

  min-width: 100vw;

  @media (width > 1024px) {
    min-width: auto;
    grid-column: 4 / -4;
  }
}

.hero-about-content {
  align-items: start;
  grid-column: 1 / -1;

  @media (width > 1024px) {
    grid-column: 1 / 50;
  }
}

.links-social {
  background-color: --transparent(var(--white), 0.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-image: paint(grid);
  --grid-offset: 0;
  grid-column: 1 / -1;

  @media (width > 1024px) {
    grid-column: 52 / -1;
  }

  a {
    align-items: center;
    background-color: var(--warning-800);
    color: var(--light-100, #ffffff);
    display: flex;
    font-weight: 600;
    justify-content: center;
    justify-content: space-between;
    padding: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    span {
      padding-inline-start: 1rem;
      letter-spacing: 0.05em;
    }

    &[data-brand="github"] {
      --brand-colour: #333;

      background-color: var(--brand-colour);

      &:hover {
        background-color: oklch(from var(--brand-colour) calc(l * 0.75) c h);
      }
    }

    &[data-brand="linkedin"] {
      --brand-colour: #1da1f2;

      background-color: var(--brand-colour);

      &:hover {
        background-color: oklch(from var(--brand-colour) calc(l * 1.25) c h);
      }
    }
  }

  svg {
    fill: var(--light-100, #ffffff);
    height: 2rem;
    transition: fill 0.3s ease-in-out;
    width: 2rem;

    &:hover {
      fill: var(--accent-hover, #005f99);
    }
  }
}

.wrapper-features {
  background-color: --transparent(var(--white), 0.4);
  display: flex;
  flex-direction: column;
  grid-column: 4 / -4;
  padding: 3rem;
  row-gap: 3rem;
  row-rule: 3rem solid;
  row-rule-color: --transparent(var(--primary-500), 0.05);
  box-shadow: inset 0 0 0 3rem --transparent(var(--light-100), 0.2);
}

.form-contact {
  align-items: start;
  background-color: --transparent(var(--white), 0.6);
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  width: 100%;
}

.wrapper-index {
  background-color: --transparent(var(--white), 0.3);
  display: grid;
  grid-column: 4 / -4;
  grid-template-columns: repeat(auto-fill, 1fr);
  padding: 3rem;
  row-gap: 3rem;
  /* column-rule-width: repeat(2, 1px) 4px repeat(2, 1px) 4px repeat(2, 1px); */
  /* column-rule-style: solid; */
  /* column-rule-color: var(--secondary--400); */
  /* row-rule-width: repeat(2, 1px) 4px repeat(2, 1px) 4px repeat(2, 1px); */
  /* row-rule-style: solid; */
  /* row-rule-color: var(--secondary-400); */

  > layout-item {
    /* gap: 10px; */
    row-rule: 3rem solid;
    row-rule-break: spanning-item;
    row-rule-color: --transparent(var(--primary-500), 0.03)
      --transparent(var(--primary-500), 0.03);
  }
}

.wrapper-index-section {
  background-color: --transparent(var(--white), 0.3);
  box-shadow: inset 0 0 0 3rem --transparent(var(--light-100), 0.3);
  column-gap: 1rem;
  column-rule: 1rem solid;
  display: grid;
  grid-column: 4 / -4;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: 3rem;
  row-gap: 2rem;
  column-rule-color: --transparent(var(--primary-500), 0.06)
    --transparent(var(--primary-500), 0.06);
  row-rule: 2rem solid;
  row-rule-color: --transparent(var(--primary-500), 0.06)
    --transparent(var(--primary-500), 0.06);

  .card-feature {
    @media (width > 1224px) {
      grid-row: 2;
    }
  }

  .wrapper-index-header {
    grid-column: 1 / 2;
    display: flex;
    grid-row: 1;

    a {
      display: flex;
      width: 100%;
      background-color: --transparent(var(--secondary-500), 0.8);
    }
  }
}

.card-feature {
  background-image: paint(grid);
  --grid-offset: 0;
  background: none;
  /* --grid-base-color: rgb(190, 187, 187); */
}

p > span {
  position: relative;

  padding: 15px 0 2px 0;
  border-radius: 0px;
  background: white;
  /* color: #fff; */
  box-decoration-break: clone;

  /* &::before {
    content: " ";
    display: inline-block;
    padding: 0 1rem;
    border-radius: 0px;
    background: white;
    box-decoration-break: clone;
    width: 100%;
    height: 1rem;
    position: absolute;
    z-index: -1;
    top: 2px;
  } */
}

.widget {
  background-color: var(--light-100);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
