/* prettier-ignore */
layout-item {
  display: grid;
  grid-column: attr(start type(<integer>)) / attr(end type(<integer>));
  grid-row: attr(row type(<integer>));
  grid-template-columns: subgrid;
  align-content: attr(align type(<custom-ident>), normal);
  row-gap: attr(row-gap rem, unset);
}

/* prettier-ignore */
.surface {
  --light-scheme: --transparent(var(--light-100), 0.4);
  --dark-scheme: var(--secondary-400);
  --variant: attr(variant type(<custom-ident>));
  --size-attr: attr(size type(<custom-ident>));

  --scheme: if(
      style(--variant: dark): var(--dark-scheme); 
      style(--variant: light): var(--light-scheme); 

      else: transparent
    );

  --padding-size: if(
      style(--size-attr: large): 3rem; 
      style(--size-attr: medium): 2rem; 
      style(--size-attr: small): 1rem; 
      else: 0rem /* Default padding */
    );

  align-content: space-between;
  background-color: var(--scheme);
  color: var(--dark-500);
  display: grid;
  grid-column: 1 / -1;
  grid-row: attr(row type(<integer>));
  grid-template-columns: auto;
  padding: var(--padding-size);
  view-transition-name: attr(id type(<custom-ident>), none);
}

/* h2 { */
/* prettier-ignore */
:where(h1, h2, h3, h4, h5, h6):not([class]) {
  --variant: attr(variant type(<custom-ident>));
  --padding-block-start: calc(var(--padding-start) - 1cap);
  --font-size: if(
      style(--variant: sm): var(--font-scaled-sm); 
      style(--variant: base): var(--font-scaled-base); 
      style(--variant: md): var(--font-scaled-md);
      style(--variant: lg): var(--font-scaled-lg);
      style(--variant: xl): var(--font-scaled-xl);
      style(--variant: xxl): var(--font-scaled-xxl);

      else: var(--font-scaled-base)
    );

  --font-weight: if(
      style(--variant: sm): var(--font-weight-light); 
      style(--variant: base): var(--font-weight-regular); 
      style(--variant: md): var(--font-weight-medium);
      style(--variant: lg): var(--font-weight-semibold);
      style(--variant: xl): var(--font-weight-bold);
      style(--variant: xxl): var(--font-weight-black);

      else: var(--font-weight-medium)
    );

  --padding-start: if(
      style(--variant: sm): 2rem; 
      style(--variant: base): 2rem; 
      style(--variant: md): 3rem;
      style(--variant: lg): 3rem;
      style(--variant: xl): 4rem;
      style(--variant: xxl): 5rem;

      else: 3rem
    );

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin-block-end: 2rem;
  padding-block-start: var(--padding-block-start);

  &:first-child {
    --padding-block-start: calc(calc(var(--padding-start) - 1rem) - 1cap);
  }
}

a:not([class]) {
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-self: self-start;
  background-color: var(--secondary-500);
  width: max-content;
  color: var(--light-100);

  &:last-child {
    margin-bottom: 0;
  }

  span {
    padding-top: calc(1rem - 1cap);
  }
}

.feature-link {
  color: var(--colour-light-1);
  display: inline flex;
  font-size: var(--font-scaled-base);
  margin-inline: auto 0;
  max-width: max-content;
  padding-block-start: calc(1rem - 1cap);
  text-decoration: underline 2px var(--secondary-200);
  text-underline-offset: var(--spacing-base);
  margin-block-start: auto; /* Pushes the link to the bottom */
  margin-block-end: 0; /* Removes bottom margin */

  &:hover {
    background-color: var(--light-600);
  }
}

@function --responsive(--mobile, --tablet, --desktop) {
  result: var(--mobile);

  @media screen and (width >= 768px) {
    result: var(--tablet);
  }

  @media screen and (width >= 1024px) {
    result: var(--desktop);
  }
}

grid-auto {
  column-gap: --responsive(0rem, 3rem, 5rem);
  display: grid;
  grid-auto-flow: row;
  grid-column: 2 / -2;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 8rem;
  width: 100%;

  > .surface {
    grid-column: auto;
  }
}

main-content {
  display: grid;
  grid-column: full;
  grid-row: main;
  grid-template-columns: subgrid;
  align-items: start;
  grid-auto-rows: min-content;
}
