/* prettier-ignore */
@function --get-type(--variant <custom-ident>) returns <color> {
    result: if(
      style(--variant: button): var(--dark-scheme);
      
      else: transparent
    )
  }

/* prettier-ignore */
@function --get-padding-size2(--size-attr <custom-ident>) returns <length> {
    result: if(
      style(--size-attr: large): 3rem;
      style(--size-attr: medium): 2rem;
      style(--size-attr: small): 1rem;
      
      else: 0rem /* Default padding */
    )
  }

a:not([class]) {
  --dark-scheme: var(--secondary-600);
  --light-scheme: --transparent(var(--light-100), 0.4);
  --variant: attr(variant type(<custom-ident>), link);

  background-color: --get-type(var(--variant));
  color: var(--light-100);
  display: flex;
  padding: --get-padding-size(attr(size type(<custom-ident>), 1rem));
  text-decoration: if(style(--variant: button): none; else: underline);

  span {
    padding-top: calc(1rem - 1cap);
    background: red;
  }
}

.jump-link {
  color: var(--primary-500);
  text-decoration: underline 0.1em var(--secondary-500);
  text-underline-offset: calc(var(--spacing-base) - 0.1em);
}

.feature-link {
  margin-inline: auto 0;
  padding-block-start: calc(2rem - 1cap);
  text-decoration: underline 0.1em var(--secondary-200);
  text-underline-offset: calc(var(--spacing-base) - 0.1em);
}
