a:not([class]) {
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-self: self-start;
  background-color: var(--secondary-500);
  width: max-content;
  color: var(--light-100);

  &:last-child {
    margin-bottom: 0;
  }

  span {
    padding-top: calc(1rem - 1cap);
  }
}

.feature-link {
  color: var(--colour-light-1);
  display: inline flex;
  font-size: var(--font-scaled-base);
  margin-inline: auto 0;
  max-width: max-content;
  padding-block-start: calc(1rem - 1cap);
  text-decoration: underline 2px var(--secondary-200);
  text-underline-offset: var(--spacing-base);
  margin-block-start: auto; /* Pushes the link to the bottom */
  margin-block-end: 0; /* Removes bottom margin */

  &:hover {
    background-color: var(--light-600);
  }
}

.jump-link {
  color: hotpink;
  text-decoration: underline;
  text-underline-offset: calc(0.5em - 4px);
  text-decoration-color: aqua;
}
