a:not([class]) {
  align-self: self-start;
  background-color: var(--secondary-500);
  color: var(--light-100);
  display: flex;
  padding: 1rem;
  width: max-content;

  span {
    padding-top: calc(1rem - 1cap);
    background: red;
  }
}

.jump-link {
  color: var(--primary-500);
  text-decoration: underline 0.1em var(--secondary-500);
  text-underline-offset: calc(var(--spacing-base) - 0.1em);
}

.feature-link {
  margin-inline: auto 0;
  padding-block-start: calc(2rem - 1cap);
  text-decoration: underline 0.1em var(--secondary-200);
  text-underline-offset: calc(var(--spacing-base) - 0.1em);
}
