:root {
  --colour-dark: #333;
  --colour-light: #f4f4f4;
  --colour-primary: #e7b900;

  --padding: 1rem;
  --site-max-width: 1200px;
  --columns-number: 12;
}

body {
  margin: unset;
}

:not(:defined) {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:defined {
  animation: fadeIn 0.3s ease-in-out;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

a, button, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  text-box: trim-both cap alphabetic;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-block-end: 1rem;
}
