:root {
  --colour-dark: #333;
  --colour-light: #f4f4f4;
  --colour-primary: #e7b900;

  --padding: 1rem;
  --site-max-width: 1200px;
  --columns-number: 12;
}

body {
  margin: unset;
}

:not(:defined) {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:defined {
  animation: fadeIn 0.3s ease-in-out;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

a, button, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  text-box: trim-both cap alphabetic;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-block-end: 1rem;
}

#app-shell {
  display: grid;
  row-gap: 1rem;
  grid-template-rows:
    [header] min-content
    [main] 1fr
    [footer] min-content;
  grid-template-columns:
    [full-start margin-start] minmax(1rem, 1fr)
    [margin-end content-start] repeat(
    12,
    [col-start] minmax(
      auto,
      calc(var(--site-max-width) / var(--columns-number))
    ) [col-end]
  )
    [content-end margin-start] minmax(1rem, 1fr)
    [margin-end full-end];
  min-height: 100dvh;
  background-color: var(--colour-light);
  view-transition-name: attr(id type(<custom-ident>), none);
}
