/* Navigation styles */
.menu-bar {
  display: flex;
  gap: var(--spacing-base);
}

.menu-item {
  display: flex;
  height: var(--spacing-lg);
}

.menu-item-social {
  margin-inline: auto 0;
  width: 4rem;
}

.menu-item-link-social {
  --background-color: var(--secondary-900);

  align-items: end;
  background-color: var(--background-color);
  color: --opacity(var(--light-100), 0.6);
  display: flex;
  justify-content: center;
  transition: background-color 0.4s ease-in-out;
  width: 3rem;

  svg {
    width: 27px;
  }

  &:hover {
    --background-color: var(--secondary-900);
  }
}

.menu-item-link {
  --background-colour: var(--secondary-800);
  --colour: var(--light-100);

  background-color: var(--background-colour);
  color: var(--colour);
  display: flex;
  font-size: var(--font-scaled-sm);
  padding-block: calc(1rem - calc(1cap / 2));
  place-content: center;
  text-align: center;
  text-decoration: none;
  width: clamp(5rem, 6rem, 8rem);

  &[data-active] {
    --background-colour: var(--secondary-900);
    --colour: var(--light-300);
  }

  &:hover {
    --background-color: var(--secondary-900);
    --color: var(--light-100);
  }
}
