body {
  margin: unset;
}

* {
  box-sizing: border-box;
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;

  &:before,
  &:after {
    box-sizing: inherit;
    text-box-edge: inherit;
    text-box-trim: inherit;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
