blockquote {
  hanging-punctuation: first last;
}

button {
  &:focus-visible {
    outline: 2px dashed var(--accent);
    outline-offset: var(--outline-offset, -0.5em);
  }
}

/* prettier-ignore */
:where(h1, h2, h3, h4, h5, h6):not([class]) {
  --variant: attr(variant type(<custom-ident>));
  --line-height-ratio: if(
    style(--variant: xxl): 1.2;
    style(--variant: xl): 1.3;
    style(--variant: lg): 1.33;
    style(--variant: md): 1.5;
    style(--variant: base): 1.5;
    style(--variant: sm): 1.7;
    else: 1.5
  );

  font-size: --get-font-size(var(--variant));
  font-weight: --get-font-weight(var(--variant));
  line-height: var(--line-height-ratio);
  margin-block: 0 attr(bottom rem, unset);
  padding-block-start: calc(attr(top rem, unset) - 1cap);
  text-wrap: balance;
  min-height: 1rem;

  &:first-child {
    padding-block-start: calc(calc(attr(top rem, unset) + 1rem) - 1cap);
  }
}

/* prettier-ignore */
p:not([class]) {
  --variant: attr(variant type(<custom-ident>), base);
  --line-height-ratio: if(
    style(--variant: xxl): 1.183;
    style(--variant: xl): 1.18;
    style(--variant: lg): 1.77;
    style(--variant: md): 2;
    style(--variant: base): 2;
    style(--variant: sm): 1.45;

    else: 2.2
  );

  font-weight: --get-font-weight(var(--variant));
  color: var(--body-colour);
  font-size: --get-font-size(var(--variant));
  letter-spacing: 0.015em;
  line-height: var(--line-height-ratio);
  margin-block: 0 attr(bottom rem, unset);
  max-width: 60ch;
  padding-block-start: calc(attr(top rem, unset) - 1cap);
  text-wrap: pretty;

  /* &:last-child {
    margin-bottom: 0;
  }

  &:has(+ p) {
    margin-block-end: var(--spacing-md);
  }

  &:has(+ a > :is(h1, h2, h3, h4, h5, h6)) {
    margin-block-end: var(--spacing-xl);
  }

  &:first-child {
    --padding-block-start: calc(calc(var(--padding-start) - 1rem) - 1cap);
  } */
}
