* {
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;
}

a {
  color: inherit;
  text-decoration: none;

  > :is(h1, h2, h3, h4, h5, h6) {
    margin-block-end: 0;
  }

  /* &[class]:visited {
    color: inherit;
  } */

  &:not([class]) {
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.14em;
    text-decoration-color: var(--accent);
    transition: var(--transition-color);
  }

  &:has(h1, h2, h3, h4, h5, h6) {
    display: inline-flex;
    margin-block-end: var(--spacing-md);

    &:focus-visible {
      outline: 2px dashed var(--accent);
      outline-offset: 1.5em;
    }
  }

  &:has(h1) {
    margin-block-end: var(--spacing-xl);
  }

  &:has(h2) {
    margin-block-end: var(--spacing-lg);
  }
}

blockquote {
  hanging-punctuation: first last;
}

button {
  &:focus-visible {
    outline: 2px dashed var(--accent);
    outline-offset: var(--outline-offset, -0.5em);
  }
}

/* prettier-ignore */
:where(h1, h2, h3, h4, h5, h6):not([class]) {
  --variant: attr(variant type(<custom-ident>));
  --flow: attr(flow type(<custom-ident>), unset);
  --padding-start: --get-padding-start(var(--variant));
  --padding-block-start: calc(var(--padding-start) - 1cap);
  --flow-spacing: --get-flow-spacing(var(--flow), var(--padding-block-start));

  font-size: --get-font-size(var(--variant));
  font-weight: --get-font-weight(var(--variant));
  margin-block-end: if(style(--flow: body): 2rem; else: 0);
  padding-block-start: var(--flow-spacing);
  margin-block-start: 0;
    text-wrap: balance;

  &:first-child {
    --padding-block-start: calc(calc(var(--padding-start) - 1rem) - 1cap);
  }
}

p:not([class]) {
  --variant: attr(variant type(<custom-ident>));
  --flow: attr(flow type(<custom-ident>), unset);
  --padding-start: --get-padding-start(var(--variant));
  --padding-block-start: calc(var(--padding-start) - 1cap);
  --flow-spacing: --get-flow-spacing(var(--flow), var(--padding-block-start));

  font-size: --get-font-size(var(--variant));
  font-weight: --get-font-weight(var(--variant));
  margin-block-end: if(style(--flow: body): 2rem; else: 0);
  padding-block-start: var(--flow-spacing);

  color: var(--body-colour);
  font-size: var(--font-scaled-base);
  letter-spacing: 0.015em;
  line-height: 2rem;
  margin-block-start: unset;
  max-width: 60ch;
  padding-top: calc(var(--spacing-base) - 1cap);
  text-wrap: pretty;

  &:last-child {
    margin-bottom: 0;
  }

  &:has(+ p) {
    margin-block-end: var(--spacing-md);
  }

  &:has(+ a > :is(h1, h2, h3, h4, h5, h6)) {
    margin-block-end: var(--spacing-xl);
  }

  &:first-child {
    --padding-block-start: calc(calc(var(--padding-start) - 1rem) - 1cap);
  }
}
