:where(html) {
  /* Base colors */
  --base-color: oklch(0.69 0.35 327.92);
  --triad-1: oklch(from var(--base-color) l c calc(h - 120));
  --triad-2: oklch(from var(--base-color) l c calc(h + 120));
  --base-light: oklch(1 0 0);
  --base-dark: oklch(0 0 0);
  --opacity: oklch(0 0 0 / 0);

  /* Primary color scale (hotpink) */
  --primary-100: oklch(from var(--base-color) calc(l + .35) c h);
  --primary-200: oklch(from var(--base-color) calc(l + .30) c h);
  --primary-300: oklch(from var(--base-color) calc(l + .20) c h);
  --primary-400: oklch(from var(--base-color) calc(l + .10) c h);
  --primary-500: oklch(from var(--base-color) calc(l + .00) c h);
  --primary-600: oklch(from var(--base-color) calc(l - .10) c h);
  --primary-700: oklch(from var(--base-color) calc(l - .20) c h);
  --primary-800: oklch(from var(--base-color) calc(l - .40) c h);
  --primary-900: oklch(from var(--base-color) calc(l - .60) c h);

  /* Secondary color scale (blue) */
  --secondary-100: oklch(from var(--triad-1) calc(l + .35) c h);
  --secondary-200: oklch(from var(--triad-1) calc(l + .30) c h);
  --secondary-300: oklch(from var(--triad-1) calc(l + .20) c h);
  --secondary-400: oklch(from var(--triad-1) calc(l + .10) c h);
  --secondary-500: oklch(from var(--triad-1) calc(l + .00) c h);
  --secondary-600: oklch(from var(--triad-1) calc(l - .10) c h);
  --secondary-700: oklch(from var(--triad-1) calc(l - .20) c h);
  --secondary-800: oklch(from var(--triad-1) calc(l - .40) c h);
  --secondary-900: oklch(from var(--triad-1) calc(l - .60) c h);

  /* Light scale (white to grey) */
  --light-100: var(--base-light); /* white */
  --light-200: oklch(from var(--base-light) calc(l - .10) c h);
  --light-300: oklch(from var(--base-light) calc(l - .20) c h);
  --light-400: oklch(from var(--base-light) calc(l - .30) c h);
  --light-500: oklch(from var(--base-light) calc(l - .40) c h);
  --light-600: oklch(from var(--base-light) calc(l - .50) c h);
  --light-700: oklch(from var(--base-light) calc(l - .60) c h);

  /* Dark scale (grey to black) */
  --dark-100: var(--base-dark); /* black */
  --dark-200: oklch(from var(--base-dark) calc(l + .10) c h);
  --dark-300: oklch(from var(--base-dark) calc(l + .20) c h);
  --dark-400: oklch(from var(--base-dark) calc(l + .30) c h);
  --dark-500: oklch(from var(--base-dark) calc(l + .40) c h);
  --dark-600: oklch(from var(--base-dark) calc(l + .50) c h);
  --dark-700: oklch(from var(--base-dark) calc(l + .60) c h);

  /* Font stack */
  --font-stack-serif: "Times New Roman", Times, serif;
  --font-stack-sans-serif: "Segoe UI", "Helvetica Neue", Arial, sans-serif;

  /* Fonts main */
  --font-family-base: "Inter", var(--font-stack-sans-serif);
  --font-family-heading: var(--font-family-base);
  --font-familiy-code: "Monaspace", monospace;

  /* Font scale */
  --font-scaled-size: 1rem;
  --font-scaled-sm: calc(var(--font-scaled-size) * pow(1.5, -1));
  --font-scaled-base: calc(var(--font-scaled-size) * pow(1.5, 0));
  --font-scaled-md: calc(var(--font-scaled-size) * pow(1.5, 1));
  --font-scaled-lg: calc(var(--font-scaled-size) * pow(1.5, 2));
  --font-scaled-xl: calc(var(--font-scaled-size) * pow(1.5, 3));
  --font-scaled-xxl: calc(var(--font-scaled-size) * pow(1.5, 4));

  /* Font weights */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Font colour */
  --heading-colour: var(--colour-light-1);
  --body-colour: var(--colour-light-1);

  /* Theming */
  --accent: var(--primary-100);
  --colour-bg-site: var(--dark-100);
  --color-scheme: only light;

  /* Scrollbar */
  /* --scrollbar-width: thin; */
  --scrollbar-gutter: stable;
  --scrollbar-color: var(--slate-300) var(--slate-700);
  --scroll-bar-width-css: calc(100vw - 100%);

  /* Spacing */
  --spacing-base: 1rem;
  --spacing-sm: calc(var(--spacing-base) * 0.5);
  --spacing-md: calc(var(--spacing-base) * 2);
  --spacing-lg: calc(var(--spacing-base) * 3);
  --spacing-xl: calc(var(--spacing-base) * 4);
  --spacing-xxl: calc(var(--spacing-base) * 5);

  /* Accessibility */
  --outline-offset: -0.5em;

  /* Backgrounds */
  --site-background: linear-gradient(
    to bottom right,
    var(--light-100),
    var(--light-200),
    var(--light-200),
    var(--light-200),
    var(--light-300)
  );

  --bg-diagonal-1: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    var(--light-600) 10px,
    var(--light-600) 11px
  );

  --bg-diagonal-2: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    var(--light-300) 10px,
    var(--light-300) 11px
  );

  /* Rounding */
  --round-up: calc-size(max-content, round(up, size, 1rem));
  --round-down: calc-size(max-content, round(down, size, 1rem));
}
