@view-transition {
  navigation: auto;
}

/* 
::view-transition-old(feature-content) {
  animation: slide-out-to-left 250ms cubic-bezier(0.4, 0, 1, 1) 500ms forwards,
    scale-down 250ms cubic-bezier(0.4, 0, 1, 1) 500ms forwards;
}

::view-transition-new(feature-content) {
  animation: slide-in-from-right 300ms cubic-bezier(0, 0, 0.2, 1) 600ms both,
    scale-up 300ms cubic-bezier(0, 0, 0.2, 1) 600ms both;
} */

/* Reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(root),
  ::view-transition-new(root),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: fade-in 150ms ease-in-out both !important;
  }
}

.feature-content {
  view-transition-name: feature-content;
  /* background: red !important; */
}

html:active-view-transition-type(forwards, backwards) {
  :root {
    view-transition-name: none;
  }
  article {
    view-transition-name: content;
  }
  .pagination {
    view-transition-name: pagination;
  }
}

/* Animation styles for forwards type only */
html:active-view-transition-type(forwards) {
  &::view-transition-old(content) {
    animation-name: slide-out-to-left;
  }
  &::view-transition-new(content) {
    animation-name: slide-in-from-right;
  }
}

/* Animation styles for backwards type only */
html:active-view-transition-type(backwards) {
  &::view-transition-old(content) {
    animation-name: slide-out-to-right;
  }
  &::view-transition-new(content) {
    animation-name: slide-in-from-left;
  }
}

/* Animation styles for reload type only */
html:active-view-transition-type(reload) {
  &::view-transition-old(root) {
    animation-name: fade-out, scale-down;
  }
  &::view-transition-new(root) {
    animation-delay: 0.25s;
    animation-name: fade-in, scale-up;
  }
}
