@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(root),
  ::view-transition-new(root),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: fade-in 150ms ease-in-out both !important;
  }
}

html:active-view-transition-type(forwards, backwards) {
  .page {
    view-transition-name: feature-content;
  }

  :root {
    view-transition-name: none;
  }

  &::view-transition-image-pair(feature-content) {
    animation-duration: 300ms;
  }
}

html:active-view-transition-type(forwards) {
  &::view-transition-old(feature-content) {
    animation-name: slide-out-to-left;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  &::view-transition-new(feature-content) {
    animation-name: slide-in-from-right;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

html:active-view-transition-type(backwards) {
  &::view-transition-old(feature-content) {
    animation-name: slide-out-to-right;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  &::view-transition-new(feature-content) {
    animation-name: slide-in-from-left;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
