@scope {
  & {
    container-type: scroll-state;
    display: grid;
    grid-column: full;
    grid-row: header;
    grid-template-columns: subgrid;
    position: sticky;
    top: 0;
    view-transition-name: attr(id type(<custom-ident>), none);
    z-index: 1;
  }

  .logo-link {
    --opacity: 0.8;
    --background-colour: var(--secondary-300);

    background-color: var(--background-colour);
    display: inline flex;
    grid-column: gutter-start / span 5;
    transition: background-color 0.3s ease-in-out;

    &::before {
      background-color: --transparent(var(--secondary-700), var(--opacity));
      content: "";
      inset: 0;
      pointer-events: none;
      position: absolute;
      transition: background-color 0.3s ease-in-out;
      z-index: -1;
    }

    @container scroll-state(stuck: top) {
      --opacity: 1;
    }

    &:hover {
      --background-colour: var(--secondary-600);
    }
  }

  .logo {
    padding: var(--spacing-base);
  }
}
