@scope {
  & {
    --color-dark: var(--colour-dark-1);

    background-color: --lighten(var(--color-dark), 1.5);
    color: var(--colour-light-1);
    display: grid;
    grid-column: full;
    grid-row: header;
    grid-template-columns: subgrid;
    position: sticky;
    top: 0;
    view-transition-name: attr(id type(<custom-ident>), none);
    z-index: 1;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    margin: 0;
    color: var(--colour-light-1);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    max-height: 80px;

    &:hover {
      fill: var(--colour-primary);
    }
  }

  .logo-link {
    display: flex;
    grid-column: gutter-start / span 5;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--colour-light-1);
    font-size: 2rem;
    font-weight: bold;
    max-height: 80px;

    &:hover {
      fill: var(--colour-primary);
    }
  }

  .nav {
    display: grid;
    grid-column: content;
    padding: 0;
    grid-column: 25 / -2;
  }

  .menubar {
    display: flex;
    margin: 0;
    padding: 0;
    padding: var(--padding);
    gap: var(--padding);
    justify-content: center;
  }

  .menuitem {
    color: var(--colour-light-1);
    display: flex;

    &:last-child {
      margin-inline: auto 0;

      a {
        padding: 0;
        display: flex;
        align-items: center;
      }
    }

    a {
      text-align: center;
      padding: var(--padding);
      background-color: var(--colour-dark-1);
      text-decoration: none;
      color: var(--colour-light-1);
      background-color: var(--colour-dark-1);
      font-size: 13px;

      &:hover {
        color: var(--colour-primary);
      }
    }
  }
}
