<site-header id="header" class="header" role="banner" aria-label="Site header">
    <style>
        {{"header" | componentCss | importCss | safe}}
    </style>
    <a href="{{ env.SITE_URL }}" class="logo-link" aria-label="Home">
        {% include "partials/icons/logo.njk" %}
    </a>
    {% include "components/nav/nav.njk" %}
</site-header>