<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
</head>
<body>
    <div
      id="app-shell"
      class="application"
      role="application"
      aria-label="Site container"
    >
        {% include "partials/header.njk" %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
