{% extends "base.njk" %}

{% block content %}
     
{% include "partials/hero.njk" %}
  <grid-item
    id="grid-item-1"
    role="region"
    aria-label="Title 1"
    data-columns="12"
    data-rows="4"
    ><h2>Title 1</h2></grid-item
  >
  <grid-item
    id="grid-item-2"
    role="region"
    aria-label="Title 2"
    data-columns="2"
    data-rows="2"
    ><h3>Title 2</h3></grid-item
  >
  <grid-item
    id="grid-item-3"
    role="region"
    aria-label="Title 3"
    data-columns="4"
    data-rows="2"
    ><h3>Title 3</h3></grid-item
  >
  <grid-item
    id="grid-item-4"
    role="region"
    aria-label="Title 4"
    data-columns="2"
    data-rows="2"
    ><h3>Title 4</h3></grid-item
  >
  <grid-item
    id="grid-item-5"
    role="region"
    aria-label="Title 5"
    data-columns="4"
    data-rows="2"
    ><h3>Title 5</h3></grid-item
  >
  <grid-item
    id="grid-item-6"
    role="region"
    aria-label="Title 6"
    data-columns="12"
    data-rows="2"
    ><h3>Title 6</h3></grid-item
  >
{% endblock %}
