<surface-item variant="light" size="large" start="2" end="13">
    <h3 variant="md">On this page</h2>
    <nav>
        {% for item in bodyMarkupData %}
            {% if item
                .tag
                .startsWith('h') %}
                <a href="#{{ item.id }}" class="jump-link">{{ item.content }}</a>
            {% endif %}
        {% endfor %}
    </nav>
</surface-item>