<site-hero id="hero">
  <style>
    {{"site-hero" | componentCss | importCss | safe}}
  </style>
  <article class="hero-content">
    <h1 class="heading">Deno Web Components</h1>
    <p class="subheading">A demonstation of the latest in CSS and Web Compinents</p>
  </article>
  <aside class="points">Sidebar content</aside>
</site-hero>