@scope {
  & {
    color: var(--colour-light-1);
    display: grid;
    grid-column: full;
    grid-template-columns: subgrid;
    padding-block: calc(var(--padding) * 5);
    view-transition-name: attr(id type(<custom-ident>), none);
    position: relative;
  }

  .hero-content {
    grid-column: content-start / span 19;
    display: grid;
    position: relative;
    grid-row: 1;
  }

  .heading {
    view-transition-name: attr(id type(<custom-ident>), none);
    inset: auto auto auto -3px;
    position: relative;
    margin-block-end: var(--spacing-md);
    font-size: var(--font-scaled-xxl);
    padding-top: calc(5rem - 1cap);
    line-height: 1.18;
    color: #293939;
  }

  .subheading {
    view-transition-name: attr(id type(<custom-ident>), none);
    display: inline-block;
    color: rgba(0, 0, 0, 0.9);
  }

  .points {
    view-transition-name: attr(id type(<custom-ident>), none);
    grid-column: 16 / -4;
    display: flex;
    flex-direction: column;
    margin-block-start: 2rem;
    grid-row: 1;
  }

  .points-item {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;

    font-weight: 300;
    display: block;
    view-transition-name: attr(id type(<custom-ident>), none);
    background-color: rgba(255, 0, 0, 0.2);
    text-align: center;
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;
    max-width: 12rem;

    &:nth-child(1n) {
      background-color: rgba(0, 0, 0, 0.2);
      margin-inline-start: 2rem;
    }

    &:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.1);
      margin-inline-start: 10rem;
    }
    &:nth-child(3n) {
      background-color: rgba(0, 0, 0, 0.2);
      margin-inline-start: 20rem;
    }

    &:hover {
      background-color: var(--colour-light-1);
    }

    &:active {
      background-color: var(--colour-light-2);
    }

    &:focus {
      background-color: var(--colour-light-1);
    }
  }

  .points-text {
    text-box-edge: cap alphabetic;
    text-box-trim: trim-both;
    display: block;
    padding-block-start: calc(1rem - 1cap);
    margin-block-end: 0rem;
    font-size: 1rem;
    font-weight: 400;
  }
}
