@scope {
  & {
    /* background-color: var(--colour-dark-1); */
    background-image: radial-gradient(
      circle at center bottom,
      var(--colour-dark-1),
      transparent
    );
    color: var(--colour-light-1);
    display: grid;
    grid-column: full;
    grid-template-columns: subgrid;
    padding-block: calc(var(--padding) * 5);
    view-transition-name: attr(id type(<custom-ident>), none);

    .hero-content {
      grid-column: content-start / span 19;
      display: grid;
    }

    .heading {
      view-transition-name: attr(id type(<custom-ident>), none);
      inset: auto auto auto -3px;
      position: relative;
      margin-block-end: var(--spacing-md);
      font-size: var(--font-scaled-xxl);
      padding-top: calc(5rem - 1cap);
      line-height: 1.18;
    }

    .subheading {
      view-transition-name: attr(id type(<custom-ident>), none);
      display: inline-block;
    }

    .points {
      view-transition-name: attr(id type(<custom-ident>), none);
      grid-column: span 6;
      display: none;

      a {
        color: var(--colour-light-1);
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 300;
        display: inline-block;
        margin-top: 1rem;
        view-transition-name: attr(id type(<custom-ident>), none);
        background-color: var(--colour-dark-1);
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 0px 1px var(--colour-dark-1),
          0px 0px 0px 2px var(--colour-dark-1),
          0px 0px 0px 3px var(--colour-dark-1);
        transition: background-color 0.3s ease-in-out,
          box-shadow 0.3s ease-in-out;
        &:hover {
          background-color: var(--colour-light-1);
          box-shadow: 0px 0px 0px 1px var(--colour-light-1),
            0px 0px 0px 2px var(--colour-light-1),
            0px 0px 0px 3px var(--colour-light-1);
        }
        &:active {
          background-color: var(--colour-light-1);
          box-shadow: 0px 0px 0px 1px var(--colour-light-1),
            0px 0px 0px 2px var(--colour-light-1),
            0px 0px 0px 3px var(--colour-light-1);
        }
        &:focus {
          background-color: var(--colour-light-1);
          box-shadow: 0px 0px 0px 1px var(--colour-light-1),
            0px 0px 0px 2px var(--colour-light-1),
            0px 0px 0px 3px var(--colour-light-1);
        }
      }
    }
  }
}
