content-with-sidebar {
  --grid-horizontal-color: var(--light-200);
  --grid-vertical-color: var(--light-200);

  --xs: "main main main" "sidebar sidebar sidebar";
  --sm: "main main main main" "sidebar sidebar sidebar sidebar";
  --md: "main main main main sidebar sidebar";
  --lg: "main main main main sidebar sidebar";
  --xl: "main main main main sidebar sidebar";

  --areas: --xs-sm-md-lg-xl-up(
    var(--xs),
    var(--sm),
    var(--md),
    var(--lg),
    var(--xl)
  );

  background-blend-mode: overlay;
  background-clip: border-box;
  background-color: --opacity(var(--light-100), 0.4);
  background-image: var(--bg-diagonal-1), var(--bg-diagonal-2);
  background-size: 1rem 1rem;
  column-rule: 3rem solid --opacity(var(--primary-500), 0.02);
  display: grid;
  grid-column: --xs-xl-up(breakout, content);
  grid-template-areas: var(--areas);
  grid-template-columns: subgrid;
  height: stretch;
  overflow: clip;
  view-transition-name: attr(id type(<custom-ident>), none);
}

content-main {
  height: stretch;
  background-color: var(--light-100);
  background-image: paint(grid);
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr;
  padding: --xs-sm-up(1rem, 2rem);
}

content-sidebar {
  align-self: start;
  background-color: --opacity(var(--light-100), 1);
  background-image: paint(grid);
  display: grid;
  gap: 1rem;
  grid-area: sidebar;
  grid-template-columns: 1fr;
  padding: --xs-lg-up(1rem, 2rem);
}
