content-with-sidebar {
  background-blend-mode: overlay;
  background-clip: border-box;
  background-color: --transparent(var(--white), 0.4);
  background-image: var(--bg-diagonal-1), var(--bg-diagonal-2);
  background-size: 1rem 1rem;
  box-shadow: inset 0 0 0 3rem --transparent(var(--light-100), 0.2);
  column-rule: 3rem solid --transparent(var(--primary-500), 0.02);
  display: grid;
  gap: 3rem;
  grid-column: 4 / -4;
  grid-template-columns: --mobile-to-desktop(1fr, [main] 1fr [sidebar] 23rem);
  padding: 3rem;
}


content-main {
  --grid-offset: 0;

  align-items: start;
  background-color: --transparent(var(--white), 1);
  background-image: paint(grid);
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr;
  padding: 3rem;

  @media (width > 1224px) {
    grid-column: main;
    padding: 2rem;
  }
}

content-sidebar {
  --grid-offset: 0;

  background-color: --transparent(var(--white), 1);
  background-image: paint(grid);
  display: grid;
  gap: 1rem;
  grid-column: 1 / -1;
  grid-template-columns:  1fr;
  padding: 2rem;
  align-self: start;

  @media (width > 1224px) {
      grid-column: sidebar;
  }
}