.card-feature {
  --grid-horizontal-color: rgba(201, 201, 201, 0.986);
  --grid-vertical-color: rgb(231, 231, 231);

  background-color: --transparent(var(--white), 0.8);
  background-image: paint(grid);
}

