footer {
  background-color: --opacity(var(--secondary-900), 0.8);
  color: var(--light-300);
  display: grid;
  gap: 3rem;
  grid-auto-columns: auto;
  grid-auto-flow: row dense;
  grid-column: full;
  grid-row: footer;
  grid-template-columns: subgrid;
  justify-content: center;
  padding-block: var(--spacing-xl);
  view-transition-name: attr(id type(<custom-ident>), none);

  layout-item {
    grid-column: content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .copyright {
      color: var(--light-300);
    }
  }

  .footer-logo {
    grid-column: --xs-lg-up(content, content-start / span 2);
    width: stretch;
    align-self: start;

    figure {
      justify-content: --xs-lg-up(center, start);
    }
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
