footer {
  background-color: --opacity(var(--secondary-900), 0.8);
  color: var(--light-300);
  display: grid;
  gap: 4rem 0;
  grid-column: 1 / -1;
  grid-row: footer;
  grid-template-columns: 1fr;
  min-height: 20rem;
  padding: var(--spacing-xl);
  view-transition-name: attr(id type(<custom-ident>), none);

  grid-auto-fill {
    @media (width < 1024px) {
      grid-template-columns: 1fr;
    }
  }

  @media (width > 1024px) {
    grid-template-columns: subgrid;
    padding-block: var(--spacing-xl);
    grid-column: full;
  }
}
