footer {
  --columns: --xs-sm-md-lg-xl-up(
    1fr,
    1fr,
    subgrid [] [logo]  [section] [section] [section] [],
    subgrid [] [logo]  [section] [section] [section] [section] [],
    subgrid [] [logo] [logo] [section] [section] [section] [section] [section] []
  );
  
  background-color: --opacity(var(--secondary-900), 0.8);
  color: var(--light-300);
  display: grid;
  grid-column: full;
  grid-row: footer;
  grid-template-columns: var(--columns);
  padding-block: var(--spacing-xl);
  view-transition-name: attr(id type(<custom-ident>), none);
  row-gap: var(--spacing-xl);

  .footer-logo {
    grid-column: logo;
  width: stretch;
  /* height: stretch; */
  background-color: yellow;

  }

  .footer-section {
    grid-column: section calc(sibling-index() - 1);
  }
}

