header {
  background-color: var(--secondary-700);
  container-type: scroll-state;
  display: grid;
  grid-column: full;
  grid-row: header;
  grid-template-columns: --mobile-to-desktop(1fr, subgrid);
  grid-template-rows: --mobile-to-desktop(1fr, 1rem min-content 1rem);
  min-width: 100vw;
  position: sticky;
  top: 0;
  view-transition-name: auto;
  z-index: 1;
  height: --mobile-to-desktop(var(--round-up), auto);
}

header-logo {
  display: grid;
  grid-template-columns: [logo] 1fr [button-toggle] 5rem;
  grid-column: --mobile-to-desktop(1 / -1, 2 / 3);
  grid-row: 1 / -1;
}

.header-nav {
  grid-column: 5 / -2;
  grid-row: 2;
  display: --mobile-to-desktop(revert, flex);
  flex-direction: --mobile-to-desktop(column, row);
  justify-content: end;
  grid-auto-flow: column;
  gap: 1rem;

  &[popover] {
    border: 0;
    padding: 3rem;
    
    gap: 2rem;

    &::backdrop {
      background-color: var(--dark-500);
      opacity: 0.8;
    }

    &:popover-open {
      background-color: var(--secondary-500);
      display: flex;
    }

  }
}

header-nav-item {
  display: flex;
  width: var(--round-up);
}


.button-toggle-menu {
  background-color: aqua;
  border: none;
  cursor: pointer;
  display: --mobile-to-desktop(flex, none);
  grid-column: button-toggle;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
}