header {
  background-color: var(--secondary-700);
  container-type: scroll-state;
  display: grid;
  grid-column: full;
  grid-row: header;
  grid-template-columns: --mobile-to-desktop(1fr, subgrid);
  grid-template-rows: --mobile-to-desktop(1fr, 1rem min-content 1rem);
  min-width: 100vw;
  position: sticky;
  top: 0;
  view-transition-name: auto;
  z-index: 1;
  height: --mobile-to-desktop(var(--round-up), auto);
}

header-logo {
  display: grid;
  grid-template-columns: 1fr [logo] 20rem [button-toggle];
  grid-column: --mobile-to-desktop(1 / -1, 4 / 5);
  grid-row: 1 / -1;
}

.header-nav {
  grid-column: 28 / -4;
  grid-row: 2;
  display: --mobile-to-desktop(revert, flex);
  flex-direction: --mobile-to-desktop(column, row);
  justify-content: end;
  grid-auto-flow: column;
  gap: 1rem;


}

header-nav-item {
  display: flex;
  width: var(--round-up);
}


.button-toggle-menu {
  background-color: aqua;
  border: none;
  cursor: pointer;
  display: --mobile-to-desktop(flex, none);
  grid-column: button-toggle;
  padding: 1rem 2rem;
  width: var(--round-up);
}