hero-home {
  --layout: [full-start] 3rem [hero-content-start] 1fr [hero-content-end] 3rem
    [full-end];
  --row: [full-start] 3rem [hero-content-start heading-start] 1fr [heading-end
    body-start] 1fr [body-end hero-content-end] 3rem [full-end];

  background-blend-mode: overlay;
  background-clip: padding-box, content-box;
  background-color: --opacity(var(--light-100), 0.6);
  background-image: var(--bg-diagonal-1), var(--bg-diagonal-2);
  background-size: 1rem 1rem;
  box-shadow: inset 0 0 0 3rem --opacity(var(--light-100), 0.4);
  display: grid;
  grid-column: breakout;
  grid-auto-flow: row dense;
  grid-template: var(--row) / var(--layout);
  padding: 3rem;
  position: relative;

  > h1 {
    grid-column: hero-content;
    grid-row: heading;
  }

  > p {
    grid-column: hero-content;
    grid-row: body;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: stretch;
    height: 100%;
    background-color: var(--light-100);
    grid-column: full;
    grid-row: full;
    z-index: -1;
  }
}
