/* .hero-section {
  align-items: start;
  background-color: --transparent(var(--white), 0.4);
  display: grid;
  grid-column: 4 / -4;
  grid-template-columns: repeat(auto-fill, 1rem);
  padding: 3rem;
} */
