.logo-link {
  --opacity: 0.8;
  --background-colour: var(--secondary-300);

  background-color: var(--background-colour);
  display: inline flex;
  transition: background-color 0.3s ease-in-out;
  /* max-width: 10rem; */
  text-decoration: none;
  max-height: 4rem;

  @container scroll-state(stuck: top) {
    --opacity: 1;
  }

  &:hover {
    --background-colour: var(--secondary-600);
  }

  .logo {
    padding: var(--spacing-base);
  }
}
