.link-logo {
  --opacity: 0.8;
  --background-colour: var(--secondary-800);

  background-color: var(--background-colour);
  display: flex;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  max-height: 4rem;
  padding: 0.5rem;
  width: stretch;

  @container scroll-state(stuck: top) {
    --opacity: 1;
  }

  &:hover {
    --background-colour: var(--secondary-600);
  }
}
