navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: --opacity(var(--white), 0.6);
}

.group-filters {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  justify-self: start;
  background-color: --opacity(var(--white), 0.2);
  view-transition-name: attr(id type(<custom-ident>), none);

  :has(.navigation-bar) & {
    & + form {
      display: flex;
    }
  }

  a {
    gap: 1rem;
    height: 2rem;
    justify-content: center;
    padding-inline: 1rem !important;
    text-align: left;
    view-transition-name: attr(id type(<custom-ident>), none);
  }
}
