.wrapper-features {
  background-blend-mode: overlay;
  background-clip: border-box;
  background-color: --opacity(var(--light-100), 0.4);
  background-image: var(--bg-diagonal-1), var(--bg-diagonal-2);
  background-size: 1rem 1rem;
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  row-gap: 2rem;
  row-rule: 2rem solid --opacity(var(--primary-500), 0.06);
}