/* .side-bar {


  a {
    align-items: center;
    background-color: var(--warning-800);
    color: var(--light-100, #ffffff);
    display: flex;
    font-weight: 600;
    justify-content: center;
    justify-content: space-between;
    padding: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    span {
      padding-inline-start: 1rem;
      letter-spacing: 0.05em;
    }

    &[data-brand="github"] {
      --brand-colour: #333;

      background-color: var(--brand-colour);

      &:hover {
        background-color: oklch(from var(--brand-colour) calc(l * 0.75) c h);
      }
    }

    &[data-brand="linkedin"] {
      --brand-colour: #1da1f2;

      background-color: var(--brand-colour);

      &:hover {
        background-color: oklch(from var(--brand-colour) calc(l * 1.25) c h);
      }
    }
  }


} */
