
.wrapper-index-section {
  background-color: --transparent(var(--white), 0.3);
  box-shadow: inset 0 0 0 3rem --transparent(var(--light-100), 0.3);
  column-gap: 4rem;
  column-rule: 4rem solid --transparent(var(--primary-500), 0.06);
  display: grid;
  grid-column: 4 / -4;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: 3rem;
  row-gap: 2rem;
  row-rule-break: intersection;
  row-rule-outset: 0rem;
  row-rule: 2rem solid --transparent(var(--primary-500), 0.06);
  position: relative;

  .card-feature {
    @media (width > 1224px) {
      grid-row: 2;
    }
  }

  .wrapper-index-header {
    grid-column: 1 / 2;
    display: flex;
    grid-row: 1;
    position: absolute;

    a {
      display: flex;
      width: calc-size(max-content, round(up, size, 1rem));
      background-color: --transparent(var(--secondary-500), 0.7);
    }
  }
}
