
.wrapper-index-section {

  background-blend-mode: overlay;
  background-clip: border-box;
  background-color: --transparent(var(--white), 0.4);
  background-image: var(--bg-diagonal-1), var(--bg-diagonal-2);
  background-size: 1rem 1rem;
  box-shadow: inset 0 0 0 3rem --transparent(var(--light-100), 0.2);
  display: flex;
  flex-direction: column;
  grid-column: 4 / -4;
  padding: 3rem;
  position: relative;
  row-gap: 2rem;
  row-rule: 2rem solid --transparent(var(--primary-500), 0.06);


  background-color: --transparent(var(--white), 0.3);
  box-shadow: inset 0 0 0 3rem --transparent(var(--light-100), 0.3);
  column-gap: 4rem;
  column-rule-break: none;
  column-rule: 4rem solid --transparent(var(--primary-500), 0.06);
  display: grid;
  grid-column: 4 / -4;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: 3rem;
  row-gap: 2rem;
  row-rule: 2rem solid --transparent(var(--primary-500), 0.06);
}

.wrapper-index-header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;

  a {
    display: flex;
    background-color: --transparent(var(--secondary-500), 0.7);
  }
}
