/* prettier-ignore */
@function --get-icon(--icon <custom-ident>) {
  result: if(
    style(--icon: arrow-right): var(--icon-triangle);
    style(--icon: arrow-left): var(--icon-triangle-left);
    style(--icon: github): var(--icon-github);
    style(--icon: linkedin): var(--icon-linkedin);
    style(--icon: send): var(--icon-send);

    else: var(--icon-github)
  );
}
/* prettier-ignore */
@function --get-aspect-ratio(--icon <custom-ident>) {
  result: if(
    style(--icon: send): 1.367;

    else: 1
  );
}

icon-css {
  --rows: [full-start] var(--padding) [icon-start] min-content [icon-end]
    var(--padding) [full-end];
  --columns: [full-start] var(--padding) [icon-start] var(--icon-size)
    [icon-end] var(--padding) [full-end];

  --border-radius: 0px;
  --corner-shape: notch;
  --icon-size: calc(var(--width) - var(--padding) * 2);
  --icon: attr(icon type(<custom-ident>), github);
  --padding: 0em;
  --width: attr(width rem, 2rem);

  display: grid;
  grid-template: var(--rows) / var(--columns);
  width: var(--width);

  &::before,
  &::after {
    content: "";
  }

  &::before {
    background-color: var(--secondary-500);
    border-radius: 0px;
    corner-shape: notch;
    grid-area: full;
  }

  &::after {
    aspect-ratio: --get-aspect-ratio(var(--icon));
    background-color: currentColor;
    clip-path: --get-icon(var(--icon));
    grid-area: icon;
  }
}
