<section class="footer-section" column-start="{{ section.layout['column-start'] }}" column-end="{{ section.layout['column-end'] }}">
  <h4 class="footer-title">{{ section.title }}</h4>
  <ul class="footer-list">
    {% for link in section.links %}
      <li class="footer-list-item">
        {% if link.icon %}
          <span class="footer-icon">
            {% include "partials/icons/" + link.icon + ".njk" %}
          </span>
        {% endif %}
        <a class="footer-link" href="{{ link.url }}">{{ link.text }}</a>
      </li>
    {% endfor %}
  </ul>
</section>