<footer id="footer" role="contentinfo" aria-label="Site footer">
  <style>
    {{"site-footer" | componentCss | importCss | safe}}
  </style>
  <div class="footer-sections">
    <div class="footer-section" column-start="3" column-end="6">
      <a href="/" class="logo-link" aria-label="Home">
        {% include "partials/icons/logo.njk" %}
      </a>
    </div>
    {% for section in siteData.site.footer.sections %}
      {% include "partials/site-footer/footer-section.njk" %}
    {% endfor %}
  </div>
  <div class="footer-content">
    <small>&copy; 2025 Built with Deno Powered by <a href="https://deno.com/deploy">Deno Deploy</a>
    </small>
  </div>
</footer>