header {
  --row-lg: [full-height-start] 0rem min-content 0rem [full-height-end];
  --col-xs: [header-logo] 1fr;
  --col-sm: [header-logo] 1fr;
  --col-md: [header-logo] 1fr;
  --col-lg: subgrid [] [logo-start] [] [logo-end nav-start] [] [] [] [nav-end]
    [];
  --col-xl: subgrid [] [] [logo-start] [logo-end nav-start] [] [] [] []
    [nav-end] [] [];

  background-color: var(--secondary-700);
  background-image: paint(grid);
  display: grid;
  grid-area: header / full;
  grid-template-columns:
    --xs-sm-md-lg-xl-up(
    var(--col-xs),
    var(--col-sm),
    var(--col-md),
    var(--col-lg),
    var(--col-xl)
  );
  grid-template-rows: --xs-lg-up([header-logo] 1fr, var(--row-lg));
  height: --xs-lg-up(var(--round-up), auto);
  position: sticky;
  row-gap: --xs-lg-up(0, var(--spacing-base));
  top: 0;
  view-transition-name: header;
  z-index: 1;
}
