header-nav-item {
  display: flex;
  width: var(--round-up);
}

.menu-item-link {
  --background-colour: var(--secondary-800);
  --colour: var(--light-100);

  background-color: var(--background-colour);
  color: var(--colour);
  display: flex;
  font-size: var(--font-scaled-sm);
  padding-block: calc(1rem - calc(1cap / 2));
  place-content: center;
  text-align: center;
  text-decoration: none;
  width: clamp(5rem, 6rem, 8rem);
  font-weight: var(--font-weight-bold);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &[data-active] {
    --background-colour: var(--secondary-900);
    --colour: var(--primary-300);
  }

  &:hover {
    --background-color: var(--secondary-900);
    --color: var(--light-100);
  }

  &[data-variant="compact"] {
    align-items: end;
    justify-content: center;
    width: 3rem;
    padding: 0;
  }
}
