/* @property --state {
  syntax: "<custom-ident>";
  inherits: false;
  initial-value: "inactive";
} */

header-nav-item {
  --state: attr(state type(<custom-ident>));
  --variant: attr(variant type(<custom-ident>));

  display: flex;
  width: var(--round-up);
  position: relative;
}

.menu-item-link {
  --background-colour: var(--secondary-800);
  --colour: var(--light-100);

  background-color: var(--background-colour);
  color: var(--colour);
  display: flex;
  font-size: var(--font-scaled-sm);
  font-weight: var(--font-weight-bold);
  padding-block: calc(1rem - calc(1cap / 2));
  place-content: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  width: clamp(5rem, 6rem, 8rem);

  @container style(--state: active) {
    --background-colour: var(--secondary-900);
    --colour: var(--primary-300);
  }

  @container style(--variant: compact) {
    align-items: end;
    justify-content: center;
    padding: 0;
    width: 3rem;
  }

  &:hover {
    --background-color: var(--primary-900);
    --color: var(--dark-100);
  }
}
